<p>
  Hei, <%= @user.public_name %>
</p>

<p>
  Din annonse (<%= link_to ad.title, ad_url %>) på
  <%= link_to 'Plendit.no', root_url %> ble ikke godkjent.

  Årsaken var: "<%= ad.refusal_reason %>".
</p>

<p>
  Du kan gjøre endringer i annonsen og sende den til kontroll på nytt.
</p>
