<p>
  Hei, <%= @user.public_name %>
</p>

<p>
  Din annonse (<%= link_to ad.title, ad_url %>) p책 <%= link_to 'Plendit.no', root_url %> ble ikke godkjent da den bryter med <%= link_to 'annonsereglene', terms_url %> v책re.
</p>

<p>
  Du kan n책r som helst redigere annonsen din og sende den til kontroll p책 nytt.
</p>
