<p>
  Hei, <%= @user.first_name %>
</p>
<p>
  Ditt ****<%#= foobar %>-kort ble ikke godkjent.
</p>
<p>
  Grunn: <%#= foobar %>*** ** * ****** *** **** ** *
</p>
<p>
  <%= link_to 'Gå til min side', edit_users_url %> for å laste opp på nytt.
</p>