<p>
  Hei, <%= @user.first_name %>
</p>
<p>
  Ditt ****<%#= foobar %>-kort har gått ut på dato og er ikke lengre gyldig.
</p>
<p>
  <%= link_to 'Gå til min side', edit_users_url %> for å laste opp på nytt.
</p>