<% if defined? @ad.location.lat and defined? @ad.location.lon %>
    <section class="ad-location-map u-push-down">
        <div class="ad-location-map__map"
             data-geolocation="<%= @ad.location.lat %>,<%= @ad.location.lon %>"
             data-controller="adMap">
        </div>
    </section>
<% end %>