<section id="ad-input-info" class="ad-input-copy">

    <h4>Gratis å legge ut</h4>

    <p>
        Det er gratis å legge ut annonser. Plendit tar kun betalt når utleier tjener penger.
    </p>

    <h4>Verifisering</h4>

    <p>
        Plendit verifiserer brukernes identitet med mobilnummer og e-post. I tillegg kan brukerne
        koble seg til plendit med Google-, Facebook- og SPiD-kontoer.
    </p>

    <h4>Betaling</h4>
    <p>
        Betalingen skjer trygt gjennom plendit. Leiesumen reserveres ved bestilling og utbetales
        en dager etter utleien begynner.
    </p>

    <h4>Trygghet</h4>

    <p>
        <%= image_tag "logos/if_150x148.png", alt: "", class: "ad-input-copy__badge", size: "70x70" %>
        Ting du leier ut kan forsikres med IF.
        Les mer om din trygghet som utleier <%= link_to "her", Plendit::Application.config.x.customerservice.insurance_info %>.
    </p>

    <h4>Spørsmål?</h4>
    <p>
        Ved spørsmål om tjenesten, ta gjerne kontakt med
        <%= link_to 'kundesenteret', Plendit::Application.config.x.customerservice.contact_form %>.
    </p>
    <p>
        Du kan også lese <%= link_to "ofte stilte spørsmål", Plendit::Application.config.x.customerservice.website %>.
    </p>

</section>