<section class="ad-feedback-section" id="feedback">
    <h4>Tilbakemeldinger</h4>
    <% if ad.received_feedbacks.empty? %>
        <p><%= ad.user.safe_first_name %> har ingen tilbakemeldinger.</p>
    <% else %>
        <%= render partial: "shared/feedback_item_box", collection: ad.received_feedbacks, as: 'feedback' %>
    <% end %>
</section>