<section id="ad-input-info" class="ad-input-copy">

    <h4>Gratis å legge ut</h4>

    <p>
        Det er gratis å legge ut annonser. Plendit tar kun betalt når utleier tjener penger.
    </p>

    <h4>Verifisering</h4>

    <p>
        Plendit verifiserer brukernes identitet med mobilnummer og e-post. I tillegg kan brukerne
        koble seg til Plendit med Google-, Facebook- og SPiD-kontoer. I tilfeller hvor førerkort eller båtførerbevis er nødvendig for å leie, vil vi også be leietaker om dette. 
    </p>

    <h4>Betaling</h4>
    <p>
        Betalingen skjer trygt gjennom Plendit. Leiesumen reserveres ved bestilling og legges til utbetaling
        dagen etter leieforholdet starter. 
    </p>

    <h4>Trygghet</h4>

    <p>
        <%= image_tag "logos/if_150x148.png", alt: "", class: "ad-input-copy__badge", size: "70x70" %>
        Alle ting du leier ut på Plendit er forsikret av IF.
        Les mer om din trygghet som utleier <%= link_to "her", Plendit::Application.config.x.customerservice.insurance_info, target: '_blank' %>.

    </p>

    <h4>Spørsmål?</h4>
    <p>
        Ved spørsmål om tjenesten, ta gjerne kontakt med
        <%= link_to 'kundesenteret', Plendit::Application.config.x.customerservice.contact_form, target: '_blank' %>.
    </p>
    <p>
        Du kan også lese <%= link_to "ofte stilte spørsmål", Plendit::Application.config.x.customerservice.website, target: '_blank' %>.
    </p>

</section>