<%
    errors = @ad.errors.values.flatten
%>
<% if errors.any? %>
    <div class="ad-input-errors">
        <p>
            Annonsen er lagret.
            Du må rette følgende feil før du kan legge den ut:
        </p>
        <ul  class="ad-input-errors__list">
            <% errors.each do |e| %>
                <li><%= icon 'exclamation-triangle' %> <%= e %></li>
            <% end %>
        </ul>
    </div>
<% end %>
