<%
    errors = @ad.errors.values.flatten
%>
<div class="ad-input-errors">
    <% if errors.any? %>
        <ul  class="ad-input-errors__list">
            <% errors.each do |e| %>
                <li><%= icon 'exclamation-triangle' %> <%= e %></li>
            <% end %>
        </ul>
    <% end %>
</div>