
<% if @ad.ad_images.empty? %>
    <div class="gallery-box">
        Annonsen har ingen bilder
    </div>
<% else %>
    <div class="gallery-box" data-controller="imageSlider">
        <div class="gallery-box__current-image" data-gallery>
            <% @ad.ad_images.each_with_index do |ad_image, index| %>
                <% if index == 0 %>
                    <%= image_tag ad_image.image.url(:mediumplus) %>
                <% else %>
                    <img data-src="<%= ad_image.image.url(:mediumplus) %>">
                <% end %>
            <% end %>
        </div>
        <div class="gallery-box__thumbnails" data-thumbnails>
            <% @ad.ad_images.each_with_index do |ad_image, index| %>
                <%= image_tag ad_image.image.url(:thumb),
                        :class => "gallery-box__thumbnail",
                        :data => { "thumbnail-for" => index + 1 }
                %>
            <% end %>
        </div>
    </div>
<% end %>