<div class="row">
<%

today = Date.today()
[today, today.next_month].each do |d|

  @first_day_of_month = Date.civil( d.year, d.month, 1)
  @last_day_of_month  = Date.civil( d.year, d.month, -1)

%>
    <div class="six columns">
        <%= d.strftime("%B - %Y") %>
        <table class="kalender">
            <tr>
                <th>Man.</th>
                <th>Tir.</th>
                <th>Ons.</th>
                <th>Tor.</th>
                <th>Fre.</th>
                <th>Lør.</th>
                <th>Søn.</th>
            </tr>
            <tr>
            <% (@first_day_of_month..@last_day_of_month).each do |d| %>
                <% if d == @first_day_of_month %>
                    <% (d.cwday - 1).times do %> <td class='offset'></td> <% end %>
                <% end %>
                <% if d.cwday === 1 %> </tr><tr> <% end %>
                <td class="<%
                  date_cmp = ( d <=> today )
                  if date_cmp < 0
                    %> past <%
                  elsif date_cmp == 0
                    %> today <%
                  else
                    # randomly pick dates to be one of: availble, partial, unavailable
                    #class="available|partial|unavailable" (50, 25, 25)%

                    if [true, false].sample
                      %> available <%
                    else
                      if [true, false].sample %> partial <% else %> unavailable <% end
                    end
                  end
                 %>">
                    <%= d.day %>
                </td>
            <% end %>
            </tr>
        </table>
    </div>
<% end %>
</div>