<div class="row">
    <div class="six columns">
        <table>
            <tr>
                <th>Man.</th>
                <th>Tir.</th>
                <th>Ons.</th>
                <th>Tor.</th>
                <th>Fre.</th>
                <th>Lør.</th>
                <th>Søn.</th>
            </tr>
            <tr>
                <% @beginning_of_month = Date.civil(2015, 5, 1) %>
                <% @end_of_month = Date.civil(2015, 5, -1) %>

                <% (@beginning_of_month..@end_of_month).each do |d| %>
                    <% if d == @beginning_of_month %>
                        <% (d.cwday - 1).times do %> <td class='offset'></td> <% end %>
                    <% end %>

                    <% if d.cwday == 1 %> </tr><tr> <% end %>

                    <td> <%= d.day %> </td>
                <% end %>
            </tr>
        </table>
    </div>
<!--     <div class="six columns">
        <table>
            <tr>
                <th>Man.</th>
                <th>Tir.</th>
                <th>Ons.</th>
                <th>Tor.</th>
                <th>Fre.</th>
                <th>Lør.</th>
                <th>Søn.</th>
            </tr>
            <tr>
                <% @beginning_of_month = Date.civil(2015, 6, 1) %>
                <% @end_of_month = Date.civil(2015, 6, -1) %>

                <% (@beginning_of_month..@end_of_month).each do |d| %>
                    <% if d == @beginning_of_month %>
                        <% (d.cwday - 1).times do %> <td class='offset'></td> <% end %>
                    <% end %>

                    <% if d.cwday == 1 %> </tr><tr> <% end %>

                    <td> <%= d.day %> </td>
                <% end %>
            </tr>
        </table>
    </div> -->
</div>