<div>
    <h1>Inline pictures</h1>
    <%= form.nested_fields_for :ad_images do |ff| %>
        <%= ff.hidden_field :weight, data: {weight: ''} %>
        <div class="in-image">
            <div class="in-image__img-holder">
                <%= image_tag ff.object.image.url(:thumb) %>
            </div>
            <div class="in-image__inputs-holder">
                <%= ff.text_area :description %>
                <button>make priamaray</button>
            </div>
        </div>
    <% end %>
</div>
