<div class="owned-ad-item">
    <h5><%= link_to ad.title, edit_ad_path(ad) %></h5>
    <p>
        <%= image_tag "ads/ad1/ad_image_1.jpg", alt: "", size: "160x100", class: "u-pull-right" %>
        <%= ad.summary %>
    </p>
    <p><%= ad.updated_at %> STATUS</p>
</div>