<div class="owned-ad-item">
    <h5><%= link_to ad.title_or('Ingen tittel'), edit_ad_path(ad) %></h5>
    <p>
        <%# fixme: set size here %>  
        <%= image_tag ad.image_url_with_fallback(:thumb), alt: "", class: "u-pull-right owned-ad-item__thumb" %>
        <%= ad.summary %>
    </p>
    <p><%= ad.updated_at.to_formatted_s(:plendit_short_datetime) %> STATUS</p>
</div>