<%
    calc = @ad.booking_calculator
%>
<% unless rule.payin_amount.nil? %>
    <div class="price-estimate">

    <% if rule.valid? %>
        <% if rule.day? && rule.effective_from == 1 %>
            <div class="price-estimate__left">
                <label>Forsikringssum:</label>
                <span><%= format_monetary_full_pretty( calc.max_insurance_coverage(rule) ) %></span>
            </div>
        <% end %>

        <div class="price-estimate__right">
            <label class="price-estimate__label">Pris for kunde:</label>
            <span class="price-estimate__value"><%= format_monetary_full_pretty( calc.payin_amount(rule) ) %></span>
            <br>


            <label class="price-estimate__label">Leiegebyr med forsikring:</label>
            <span class="price-estimate__value"><%= format_monetary_full_pretty( calc.total_fee(rule) ) %></span>
            <br>

            <label class="price-estimate__label">Utbetalt til deg:</label>
            <span class="price-estimate__value"><%= format_monetary_full_pretty( calc.payout_amount(rule) ) %></span>
        </div>
    <% else %>
        <div class="price-estimate__right">
            INVALID PRICE RULE
        </div>
    <% end %>

    </div>
<% end %>