<%
    calc = @ad.booking_calculator
%>
<% unless rule.payin_amount.nil? %>
    <div class="price-estimate">
        <div class="price-estimate__inner">
            <label class="price-estimate__label">Pris for kunde:</label>
            <span class="price-estimate__value"><%= format_monetary_full( calc.payin_amount(rule) ) %></span>
            <br>

            <label class="price-estimate__label">Leiegebyr / forsikring:</label>
            <span class="price-estimate__value"><%= format_monetary_full( calc.total_fee(rule) ) %></span>
            <br>

            <label class="price-estimate__label">Utbetalt til deg:</label>
            <span class="price-estimate__value"><%= format_monetary_full( calc.payout_amount(rule) ) %></span>
        </div>
    </div>
<% end %>