<div>
    <% if @ads.empty? %>
        <p class="search-result-box__no-hits-box u-push-down">
            Vi fant ingen treff! Du kan forsøke å søke i et større område på
            kartet, eller endre på søkefilterene dine.
        </p>
    <% else %>
        <% cache ['html_ad_list', @ads.map{|e| e._id}], expires_in: 10.minutes do %>
            <%= render partial: "search_result_item", collection: @ads, as: 'ad' %>
            <div class="search-result-box__paging-holder u-push-down-only"><%= paginate @ads %></div>
        <% end %>
    <% end %>
</div>
