<% cache ['html_ad_item', ad.id], expires_in: 10.minutes do %>
    <div class="search-result-item" data-adid="<%= ad.id %>">
        <div class="search-result-item__padder">
            <%= render partial: "shared/search_result_link", locals: { ad: ad } %>
        </div>
    </div>
<% end %>