<div>
    <% if @ads.empty? %>
        Vi fant ingen treff! Du kan forsøke å søke i et større område på
        kartet, eller endre på søkekriteriene dine.
    <% else %>
        <%= paginate @ads %>
        <%= render partial: "search_result_item", collection: @ads, as: 'ad' %>
    <% end %>
</div>

