<div class="facebook-ad-sharer">
    <div>Del annonsen på Facebook</div>
    <%# data-href omitted, as it defaults to current URL %>
    <div class="fb-share-button" data-layout="button_count"></div>
</div>