<% if defined? ad.location.lat and defined? ad.location.lon %>
    <section class="slim-map-location">
        <div class="slim-map-location__map"
             data-geolocation="<%= ad.location.lat %>,<%= ad.location.lon %>"
             data-controller="sideBarMap">
        <div>
    </section>
<% end %>

<%# fixme: do we need an else? %>