<%= render partial: "shared/personal_bar", locals: { selected: "Dine annonser" } %>
<div class="container">
    <div class="row">
        <h2>Tilgjengelighet for <%= @ad.display_title %></h2>
        <div class="twelve columns">
        </div>
    </div>
</div>

