<div class="container">
    <div class="row">
        <div class="seven columns">
            input step 3

    <h1>Legg ut annonse</h1>
    <p>
        Legg ut en annonse på mindre enn ett minutt og tjen penger!
    </p>

    <div class="input-progress"><div class="input-progress__step"><strong>Detaljer</strong></div><div class="input-progress__step"><strong>Bilder</strong></div><div class="input-progress__step input-progress__step--current"><strong>Publiser</strong></div>
    </div>

            <%= render partial: "ad_gallery_box", locals: { ad: @ad } %>
            <%= render partial: "ad_copy_section", locals: { ad: @ad } %>

Publiser

        </div>
        <div class="four columns offset-by-one column">
            <%= render partial: "ad_input_copy" %>
        </div>
    </div>
</div>

