<p id="notice"><%= notice %></p>

<h1>Listing Favorite Ads</h1>

<table>
  <thead>
    <tr>
      <th>Favorite list</th>
      <th>Ad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @favorite_ads.each do |favorite_ad| %>
      <tr>
        <td><%= favorite_ad.favorite_list.name %></td>
        <td><%= link_to favorite_ad.ad.title, ad_path( favorite_ad.ad.id ) %></td>
        <td><%= link_to 'Destroy', favorite_ad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
