<%= render partial: "shared/personal_bar", locals: { selected: "Favoritter" } %>

<div class="container">
    <div class="row">
        <div class="nine columns">
            <h1>Favoritter</h1>
            <%= render partial: "favorite_item", collection: @favorite_ads, as: :favorite_ad %>
        </div>
    </div>
</div>
