<div class="container">
    <div class="row">
        <div class="eight columns">
            <h1>
                Her kommer liste med ting som trengs.
            </h1>
            <ol>
                <% @requests.each do |e| %>
                    <li>
                        <%= e.description %> <%= e.place %>
                    </li>
                <% end %>
        </div>
    </div>
</div>