<div class="container">
    <div class="row">
        <div class="eight columns">
            <h1>
                Her kommer liste med ting som trengs.
            </h1>
        </div>
    </div>
</div>