<div class="container u-push-down">
    <div class="row">
        <div class="twelve columns">
        <h1><%= t '.title' %></h1>
        <div>
            <p class="u-push-down-only">
                <%= t '.copy' %>
            </p>
        </div>
        </div>
    </div>
</div>