<div>
    <strong>Har det skjedd noe?</strong>
    <ul>
        <li>
            <a href="#">Meld skade</a>
        </li>
        <li>
            <a href="#">Rapporter regelbrudd</a>
        </li>
    </ul>

    <%= image_tag "logos/if_150x148.png", alt: "", class: "", size: "70x70" %>

</div>