<div class="help-box">
    <% if @booking.created? %>
        Venter på svar 
    <% elsif @booking.payment_preauthorized? %>
        Venter på svar
    <% elsif @booking.confirmed? %>
        Forespørsel godtatt
    <% elsif @booking.payment_confirmed? %>
        Forespørsel godtatt
    <% elsif @booking.declined? %>
        Forespørsel avslått
    <% elsif @booking.aborted? %>
        Booking ble avlyst
    <% elsif @booking.started? || @booking.in_progress? %>
        Leieforholdet pågår
    <% elsif @booking.cancelled? %>
        Leieforholdet ble avlyst
    <% elsif @booking.disputed? %>
        Leieforholdet ble avbrutt. Er dette riktig?
    <% elsif @booking.dispute_agreed? %>
        Leieforholdet ble avbrutt. (TRANSLATEME: Av begge parter)
    <% elsif @booking.dispute_disagreed? %>
        Leieforholdet ble avlyst. (TRANSLATEME: uenighet. hva skjer?)
    <% elsif @booking.ended? %>
        Leieforholdet er over
    <% elsif @booking.archived? %>
        Arkivert
    <% elsif @booking.payment_preauthorization_failed? || @booking.payment_failed? %>
        Betaling mislyktes, prøv et annet kort
    <% elsif @booking.admin_paused? %>
        Under behandling
    <% else %>
        <!-- blernk! -->
    <% end %>
</div>
