<div class="help-box">
    Venter på godkjenning
</div>
<div class="help-box">
    Forespørsel godkjent
</div>
<div class="help-box">
    Forespørsel avslått
</div>
<div class="help-box">
    Booking ble avbrutt
</div>
<div class="help-box">
    Leieforholdet pågår
</div>
<div class="help-box">
    Leieforholdet ble avlyst. Er dette riktig?
</div>
<div class="help-box">
    Arkivert
</div>
