<section class="conversation-section">
    <% if booking.messages.empty? %>
        Ingen meldinger.
    <% else %>
        <%= render partial: "conversation_item", collection: @booking.messages, as: "message" %>
    <% end %>

    <hr>

    <div>
        <%= form_for :message, url: booking_messages_path( @booking )  do |f| %>
            <%= f.text_area :content, class: 'u-full-width', data: { controller: 'autoSizeTextArea' }, placeholder: 'Meldingstekst...' %>

            <p>
                Av sikkerhetsmessige årsaker tillater vi ikke deling av
                telefonnummer eller E-post.
                <%= f.submit 'Send melding', class: 'u-pull-right button-primary' %>
            </p>
        <% end %>
    </div>
</section>