<section class="conversation-section">
    <% if booking.messages.empty? %>
        Ingen meldinger.
    <% else %>
        <%= render partial: "conversation_item", collection: booking.messages, as: "message" %>
    <% end %>

    <hr>

    <div>
        <form method="POST" action="#">
            <textarea class="u-full-width" name="content" placeholder="Meldingstekst&hellip;"></textarea>
            <p>
                Av sikkerhetsmessige årsaker tillater vi ikke deling av
                telefonnummer eller E-post.
                <button type="sumbit" class="u-pull-right button-primary">Send melding</button>
            </p>
        </form>
    </div>
</section>