<div class="row conversation-item-box">
    <div class="two columns conversation-item-box__avatar-box">
        <%= render('shared/avatar.html', user: message.from_user, size: "medium" ) %>
    </div>
    <div class="ten columns conversation-item-box__body">
        <h5><%= message.from_user.display_name %></h5>
        <p class="conversation-item-box__body">
            <%= message.content %>
        </p>
        <p>
            <%= l message.updated_at  %>
        </p>
    </div>
</div>

