<%= render partial: "shared/personal_bar", locals: { selected: "Aktiviteter" } %>

<div class="container">
    <div class="row">
        <div class="nine columns">
            <%= render layout: "gray_box", locals: {title: "Aktiviteter"} do %>
                Under ser du nye forespørsler. Om du ser etter din historikk
                finner du denne ved å <a href="#">klikke her.</a>
            <% end %>

            <section class="u-push-down">
                <%= render partial: "incoming_request_item", collection: @bookings, as: 'booking' %>
            </section>
        </div>
    </div>
</div>
