<div class="container">
    <div class="row">
        <h2>Leieforespørsel til <%= @ad.user.display_name %></h2>
        <div class="twelve columns">Status: Ikke sendt</div>

        <div class="twelve columns">
            <div class="u-push-down">
                <%= render partial: "booking_heading_box", locals: { ad: @ad, user: @ad.user } %>
            </div>
            <%= render 'form' %>
        </div>
    </div>
</div>

