<%= render layout: "gray_box", locals: {title: "Legg til kredittkort", id: "credit-card"} do %>

    <!--
        If credit card registered, button for delete
    -->

    <div data-controller="cardInputter">
        <div data-card-holder></div>
        <form class="u-push-down">

            <input type="hidden" name="cardStuff1">
            <input type="hidden" name="cardStuff2">

            <div class="row">
                <div class="twelve columns">
                    <label for="number">Kortnummer:</label>
                    <input class="u-full-width" name="number" id="number" type="text">
                </div>
            </div>
            <div class="row">
                <div class="twelve columns">
                    <label for="name">Fullt navn:</label>
                    <input class="u-full-width" name="name" id="name" type="text">
                </div>
            </div>

            <div class="row">
                <div class="six columns">
                    <label for="expiry">Utløpsdato:</label>
                    <input class="u-full-width" name="expiry" placeholder="04/16" id="expiry" type="text">
                </div>
                <div class="six columns">
                    <label for="cvc">Kontrollnummer:</label>
                    <input class="u-full-width" name="cvc" placeholder="123" id="cvc" type="text">
                </div>
            </div>
            <div class="row">
                <button type="submit" data-save-card class="u-pull-right button button-primary">Lagre kort</button>
            </div>
        </form>
    </div>

<% end %>