<div class="help-box u-push-down">
    Vi sletter bilder du laster opp her så snart kontroll er fullført. Du kan lese mer om hvordan Plendit behandler dokumentasjon under <%= link_to 'personvern ', Rails.configuration.x.customerservice.privacy_info %> 
</div>