<div class="help-box u-push-down">
    Under <%= link_to 'Personvern.', Rails.configuration.x.customerservice.privacy_info %> kan du lese mer om krav til dokumentasjon og hvordan Plendit behandler
    personlige dokumenter.
</div>