<div class="help-box u-push-down">
    Du kan lese mer om krav til dokumentasjon og hvordan Plendit behandler
    personlige dokumenter
    <%= link_to 'på kundesenteret.', Rails.configuration.x.customerservice.privacy_info %>
</div>