<div class="row">
    <%= link_to social_button(:facebook, nil), user_omniauth_authorize_path(:facebook) %>
    <br>
    <br>
    <%= link_to social_button(:google, nil), user_omniauth_authorize_path(:google) %>
    <br>
    <br>
    <%= link_to social_button(:spid, nil), user_omniauth_authorize_path(:spid) %>
</div>