<div class="public-profile-ad">
    <div class="public-profile-ad__img-box">
        <%= image_tag ad.safe_image_url(:thumb), size: '90x60', alt: '' %>
    </div>
    <div class="public-profile-ad__text-box">
        <h4><%= ad.display_title %></h4>
        <div class="public-profile-ad__description">
            <%= ad.summary %>
        </div>
    </div>
</div>