<%= link_to ad_path(ad), class: 'public-profile-ad' do %>
    <div class="public-profile-ad__img-box">
        <%= image_tag ad.safe_image_url(:thumb), width: '90x60', alt: '' %>
    </div>
    <div class="public-profile-ad__text-box">
        <h4><%= ad.display_title %></h4>
        <p class="public-profile-ad__description">
            <%= ad.summary %>
        </p>
    </div>
<% end %>