<div class="gray-box__body">
    <ul>
        <% sent_requests.each do |req| %>
            <li>
                <a href="#link"><%= req[:title] %></a>
            </li>
        <% end %>
    </ul>
    <hr>
    <a href="#">Hent mer</a>
</div>