<div class="eight columns">
<%= render layout: "gray_box", locals: {title: "Overføre", id: "overfoere"} do %>
  <table>
    <tr>
      <td>Din plendit payout saldo</td>
      <td>xyz,ab</td>
    </tr>
    <tr>
      <td>Bankgebyr</td>
      <td>15,-</td>
    </tr>
    <tr>
      <td>Blir overført til kontornr 1234.56.78901</td>
      </td>xyx,cd</td>
    </tr>
  </table>

  [BUTTON_overfør]
  [BUTTON_avbryt]
<% end %>
</div>