<%= render partial: "shared/personal_bar", locals: {selected: 'Betaling'} %>

<div class="container">
    <div class="row">

        <div class="eight columns u-push-down">
            <h1>Leiehistorikk</h1>
    
            <p>
                Rental history here
            </p>
        </div>

        <%= link_to "Skademeldingskjema", users_accident_reports_path %>

    </div>
</div>
