<%= render partial: "personal_bar", locals: { selected: "Dine forespørsler" } %>

<div class="container">
    <div class="row">
        <div class="eight columns">

            <%= render partial: "new_requests_header_box", layout: "gray_box", locals: { title: "Nye forespørsler" } %>

        </div>
        <div class="four columns">

            <div class="gray-box">
                <h5 class="gray-box__title">Sendte forespørsler</h5>
                <div class="gray-box__body">
                    <ul>
                        <li>
                            <a href="#">Thule ski</a>
                        </li>
                        <li>
                            <a href="#">Thule ski</a>
                        </li>
                        <li>
                            <a href="#">Thule ski</a>
                        </li>
                        <li>
                            <a href="#">Thule ski</a>
                        </li>
                        <li>
                            <a href="#">Thule ski</a>
                        </li>
                    </ul>
                    <hr>
                    <a href="#">Hent mer</a>
                </div>
            </div>

            <div class="profile-image-box">
                <%= render('shared/avatar.html', user: User.find(session["warden.user.user.key"][0][0]), size: "huge" ) %>
                <p>
                    <a href="#">Endre profilbilde</a>
                </p>
           </div>

        </div>
    </div>
</div>