<%= render partial: "personal_bar" %>


<div class="container">
    <div class="row">
        <div class="eight columns">

            <div class="gray-box">
                <h5 class="gray-box__title">Nye forespørsler</h5>
                <div class="gray-box__body">
                    Under ser du nye forespørsler. Om du ser etter
                    leiehistorikk, finner du denne ved å
                    <a href="#">klikke her</a>
                </div>
            </div>

        </div>
        <div class="four columns">

            <div class="gray-box">
                <h5 class="gray-box__title">Sendte forespørsler</h5>
                <div class="gray-box__body">
                    <ul>
                        <li>
                            <a href="#">Thule ski</a>
                        </li>
                        <li>
                            <a href="#">Thule ski</a>
                        </li>
                        <li>
                            <a href="#">Thule ski</a>
                        </li>
                        <li>
                            <a href="#">Thule ski</a>
                        </li>
                        <li>
                            <a href="#">Thule ski</a>
                        </li>
                    </ul>
                    <hr>
                    <a href="#">Hent mer</a>
                </div>
            </div>

            <div class="profile-image-box">
                <%= render('shared/avatar.html', user: User.find(session["warden.user.user.key"][0][0]), size: "huge" ) %>
                <p>
                    <a href="#">Endre profilbilde</a>
                </p>
           </div>

        </div>
    </div>
</div>