<%= render partial: "personal_bar", locals: { selected: "Dine forespørsler" } %>

<div class="container">
    <div class="row">
        <div class="eight columns">

            <%= render partial: "new_requests_header_box", layout: "gray_box", locals: { title: "Nye forespørsler" } %>

        </div>
        <div class="four columns">

            <%= render partial: "sent_requests_sidebar_box", layout: "gray_box",
                       locals: { title: "Sendte forespørsler", sent_requests: @sent_requests } %>

            <div class="profile-image-box">
                <%= render('shared/avatar.html', user: User.find(session["warden.user.user.key"][0][0]), size: "huge" ) %>
                <div><strong>Name</strong></div>
                <p>
                    <a href="#">Endre profilbilde</a>
                </p>
           </div>

        </div>
    </div>
</div>