<div class="booking-period-selector" data-controller="kalendaeBookingSelector">
    <div data-kalendae-container class="u-center"></div>
    <%= form.hidden_field :ends_at_date, data: { format: "yyyy.MM.dd" } %>
    <%= form.hidden_field :starts_at_date, data: { format: "yyyy.MM.dd" } %>
</div>