<div class="ad-title-image">
    <div class="ad-title-image__holder">
        <% img_style = "background-image: url(#{ad.safe_image_url(:hero)});" %>
        <div class="ad-title-image__bg_img"
             style="<%= img_style %>"></div>
    </div>
</div>
