<div class="ad-title-image">
    <div class="ad-title-image__holder">
        <% img_style = "background-image: url(#{@ad.image_url_with_fallback(:hero)});" %>
        <div class="ad-title-image__bg_img"
             style="<%= img_style %>"></div>
    </div>
</div>
