<div class="image-uploader" data-controller="imageUploader" data-image-path="<%= ad_image_ad_path(@ad, format: :json) %>">
    <script type="text/template" data-dropzone-template>
        <div class="image-uploader__thumb-holder">
            <img class="image-uploader__thumb" data-dz-thumbnail>
            <%= image_tag "throbber.svg", size: "80x80", alt: "", class: "image-uploader__throbber" %>
        </div>
    </script>

    <div class="image-uploader__drop-target dz-message">
        <button type="button" class="button <%= 'button-primary' if @ad.ad_images.size == 0 %>">Last opp bilder</button>
    </div>
    <div data-dropzone-preview class="image-uploader__previews"></div>
</div>
