<div class="image-manager" data-controller="imageManager" data-image-manager-url="<%= image_manager_ad_path ad %>">
    <%= render partial: "shared/image_manager_item", collection: ad.ad_images, as: :ad_image %>
</div>