<%
    #today = Date.today()
    first_day_of_month = Date.civil( date.year, date.month, 1)
    last_day_of_month  = Date.civil( date.year, date.month, -1)
    # todo: read from an optional ad, the days that are booked
%>
<div class="month-calendar">
    <div class="month-calendar__cal">
        <span class="month-calendar__cell--header">Ma</span>
        <span class="month-calendar__cell--header">Ti</span>
        <span class="month-calendar__cell--header">On</span>
        <span class="month-calendar__cell--header">To</span>
        <span class="month-calendar__cell--header">Fr</span>
        <span class="month-calendar__cell--header">Lø</span>
        <span class="month-calendar__cell--header">Sø</span>
        <% ad.ad_items.first.availability_for_month( date.year, date.month ).each do |d,s| %>
                <span class="month-calendar__cell--<%= s %>"><%= d %></span>
        <% end %>
    </div>
</div>
