<div class="personal-bar">
    <div class="container">
        <div class="row">
            <div class="twelve columns">
                <%
                    links = [
                        #{ text: 'Siste nytt',    icon: 'question-circle', path: users_path, },
                        { text: 'Profil',        icon: 'user',            path: private_profile_users_path },
                        { text: 'Annonser',      icon: 'file-text-o ',    path: users_ads_path },
                        { text: 'Aktiviteter',   icon: 'comments',        path: bookings_path },
                        { text: 'Favoritter',    icon: 'heart',           path: users_favorite_ads_path },
                        { text: 'Leiehistorikk', icon: 'history',         path: rental_history_users_path },
                    ]

                    unless Plendit::Application.config.x.application_mode.beta
                        links << { text: 'Betaling',   icon: 'credit-card',       path: payment_users_path }
                    end

                    links.map { |e| e[:selected] = e[:text].downcase == selected.downcase }
                %>

                <% links.each do |link| %>
                    <%= link_to link[:path], class: ['personal-bar__link'] do -%>
                        <span class="personal-bar__link-icon"><%= icon link[:icon] %></span><%= link[:text] -%>
                    <%- end %>
                <% end %>
             </div>
        </div>
    </div>
</div>