<div class="personal-bar">
    <div class="container">
        <div class="row">
            <div class="twelve columns">
                <% 
                    if not defined? selected
                        selected = "Kontrollpanel"
                    end

                    links = [
                        { text: "Kontrollpanel", path: users_path },
                        { text: "Leiehistorikk", path: "#" },
                        { text: "Dine annonser", path: users_ads_path },
                        { text: "Din profil", path: users_edit_path },
                        { text: "Din konto", path: edit_user_registration_path },
                        { text: "Dine Forespørsler", path: bookings_path }
                    ]
                    links.map { |e| e[:selected] = e[:text].downcase == selected.downcase }
                %>

                <% links.each do |link| %>
                    <a class="personal-bar__link <%= link[:selected] ? "personal-bar__link--active" : ""%>"
                       href="<%= link[:path] %>"><%= link[:text] %></a>
                <% end %>
             </div>
        </div>
    </div>
</div>