<div class="profile-quality-box">
    <table class="profile-quality-box__table">
        <tr class="profile-quality-box__row">
            <th class="profile-quality-box__th">
                <%= image_tag("time_icon.png", size: "19x19", alt: "" ) %>
                Svartid:
            </th>
            <td class="profile-quality-box__td">
                innen et par timer
            </td>
        </tr>
        <tr class="profile-quality-box__row">
            <th class="profile-quality-box__th">
                <%= image_tag("speech_bubble_icon.png", size: "19x19", alt: "" ) %>
                Svarprosent:
            </th>
            <td class="profile-quality-box__td">
                100%
            </td>
        </tr>
        <tr class="profile-quality-box__row">
            <th class="profile-quality-box__th">
                <%= image_tag("time_icon.png", size: "19x19", alt: "") %>
                Sist sett:
            </th>
            <td class="profile-quality-box__td">
                2 timer siden
            </td>
        </tr>
    </table>
    <div class="profile-quality-box__verified-badge">
        <%= image_tag("verified.png", size: "57x56", alt: "") %>
        <br>
        Denne brukeren er verifisert
    </div>
</div>