<%= render layout: "gray_box", locals: {title: "Mottatte forespørsler"} do %>
    <%
    bookings = current_user.bookings
    %>
    <ul>
        <% if bookings.empty? %>
            <li>Ingen forespørsler</li>
        <% else %>
            <% bookings.each do |booking| %>
                <li>
                    <%= link_to booking.ad.title, booking %>
                </li>
            <% end %>
        <% end %>
    </ul>
    <% if not bookings.empty? %>
        <hr>
        <a href="#">Vis alle</a>
    <% end %>
<% end %>