<div class="profile-sidebar-summary u-push-down">
    <%= avatar_image user, :huge %>
    <p><%= user.display_name %></p>
    <%= render('shared/stars.html', rating: user.calculate_average_rating, num_ratings: user.received_feedbacks.size) %>
</div>