<div class="profile-sidebar-summary u-push-down">
    <%= avatar_image user, :huge %>
    <p><%= user.display_name %></p>
    <%= stars(user.feedback_score, :medium, user.feedback_score_count) %>
</div>