<div class="profile-sidebar-summary">
    <%= render('shared/avatar.html', user: user, size: "large") %>
    <br>
    <strong><%= user.name %>
    <br>
    <%= render('shared/stars.html', rating: user.calculate_average_rating, num_ratings: user.received_feedbacks.size) %>
    <br>
    Medlem siden x y z
</div>