<% 
    if (not defined? date) or date.nil?
        date = Date.today()
    end
%>
<div class="single-pageable-calendar" data-controller="calenderPager">
    <div data-calendar>
        <div class="row single-pageable-calendar__calendar-holder">
            <div class="single-pageable-calendar__calendar-holder-inner">
                <h4 class="single-pageable-calendar__month">
                    <%= link_to "◀", (single_calendar_ad_path ad.id,
                            {date: date.at_beginning_of_month.prev_month.to_s(:db)} ),
                            class: 'single-pageable-calendar__pager' %>
                    <%= date.strftime("%B - %Y") %>
                    <%= link_to "▶", (single_calendar_ad_path ad.id,
                            {date: date.at_beginning_of_month.next_month.to_s(:db) }),
                            class: 'single-pageable-calendar__pager' %>
                </h4>
                <%= render partial: "shared/month_calendar", locals: { date: date, ad: ad } %>
            </div>
        </div>
    </div>
</div>