<span class="social-button <%= "social-button--#{network[:id]}" %>">
    <%= image_tag network[:img], size: '45x45', alt: '', class: 'social-button__logo' %>
    <span class="social-button__text">
        <%= text %>
    </span>
</span>

