<span class="social-button <%= "social-button--#{network[:id]}" %>">
    <span class="social-button__icon-holder">

        <% if network.has_key? :icon %>
            <%= icon network[:icon], class: 'u-fill-white fa-2x social-button__logo-icon' %>
        <% else %>
            <%= image_tag network[:img], size: '45x45', alt: '', class: 'social-button__logo-image' %>
        <% end %>
    </span>
    <span class="social-button__text">
        <%= text %>
    </span>
</span>
