<div>
<%
    if num > 5 or num < 0
      puts "out of bounds"
    end

    remainder_star = num - num.floor
    full_stars  = num.floor
    part_stars  = ( remainder_star > 0.1 and remainder_star < 0.9 ) ? 1 : 0
    empty_stars = ( 5 - ( full_stars + part_stars ) )

    full_stars.times do %>
      <%= image_tag("star_full.svg", size: "16x10", alt: "Star") %> <%
    end

    if part_stars == 1 %>
      <%= image_tag("star_half.svg", size: "16x10" ) %> <%
    end

    empty_stars.times do %>
      <%= image_tag("star_empty.svg", size: "16x10" ) %> <%
    end
%>
</div>
