<span class="rating-stars">
<%
    if rating > 5 or rating < 0
      puts "out of bounds"
      rating = 5 if rating > 5
      rating = 0 if rating < 0
    end

    remainder_star = rating - rating.floor
    full_stars  = rating.floor
    part_stars  = ( remainder_star > 0.1 and remainder_star < 0.9 ) ? 1 : 0
    empty_stars = ( 5 - ( full_stars + part_stars ) )

    full_stars.times do %>
      <%= image_tag("star_full.svg", size: "22x22", alt: "") %> <%
    end

    if part_stars == 1 %>
      <%= image_tag("star_half.svg", size: "22x22", alt: "") %> <%
    end

    empty_stars.times do %>
      <%= image_tag("star_empty.svg", size: "22x22", alt: "" ) %> <%
    end
%> <% if defined? num_ratings %> (<%= num_ratings %>) <% end %>
</span>
