<p id="notice"><%= notice %></p>

<h1>Dine Betalingskort</h1>

<table>
  <tbody>
    <%= render @user_payment_cards %>
  </tbody>
</table>

<br>

<%= link_to 'Legg til', new_user_payment_card_path %>
