<p id="notice"><%= notice %></p>

<h1>Listing User Payment Cards</h1>

<table>
  <thead>
    <tr>
      <th>Number alias</th>
      <th>Expiration date</th>
      <th>Validity mp</th>
      <th>Active mp</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render @user_payment_cards %>
  </tbody>
</table>

<br>

<%= link_to 'New User payment card', new_user_payment_card_path %>
