<%= render layout: 'gray_box', locals: {title: 'Dine betalingskort', id: 'betalingskort'} do %>

  <%- if payment_card_notice -%>
    <div><%= payment_card_notice %> </div>
    <hr>
  <%- end -%>

  <table>
    <tbody>
      <%= render @user_payment_cards %>
    </tbody>
  </table>
  <br>
  <%= link_to 'Legg til', new_user_payment_card_path %>

<% end %>