<h1>New User Payment Card</h1>

<div class="container">
    <div class="row">
        <div class="eight columns">
          <%= render 'form' %>
        </div>
        <div class="four columns"> &nbsp;
        </div>
    </div>
</div>

<%= link_to 'Back', user_payment_cards_path %>
