<%= render partial: "shared/personal_bar", locals: { selected: "Profil" } %>
<div class="container">
    <div class="row">
        <div class="eight columns">
            <% if @user_payment_card[:preregistration_data].present? %>
              <%= render 'form' %>
            <% else %>
                TRANSLATEME: ERROR, We are sorry but adding of creditcard is temporarely unavailable.
                We are working with our payment provider to fix this as soon as possible!
            <% end %>
        </div>
        <div class="four columns"> &nbsp;
        </div>
    </div>
    <div class="row">
        <%= link_to 'Tilbake', user_payment_cards_path %>
    </div>
</div>

