<%= render partial: 'shared/personal_bar', locals: { selected: :profile } %>
<div class="container">
    <div class="row">
        <div class="eight columns">
            <% if @user_payment_card[:preregistration_data].present? %>
              <%= render 'form' %>
            <% else %>
                Det er ikke mulig å registerer ditt kreditt kort for øyeblikket.
            <% end %>
        </div>
        <div class="four columns"> &nbsp;
        </div>
    </div>
    <div class="row">
        <%= link_to 'Tilbake', user_payment_cards_path %>
    </div>
</div>

