<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @profile_status.status %>
</p>

<%= link_to 'Edit', edit_profile_status_path(@profile_status) %> |
<%= link_to 'Back', profile_statuses_path %>
