
<div class="container">
    <div class="row">
        <div class="twelve columns">

            <h2 class="u-push-down">Gi en tilbakemelding til <%= @feedback.ad.user.display_name %></h2>
        </div>
    </div>
</div>



<h1>Editing Feedback</h1>

<%= render 'form' %>

<%= link_to 'Show', users_feedback_path(@feedback) %> |
<%= link_to 'Back', users_feedbacks_path %>
