<div class="container u-push-down">
    <div class="row">
        <div class="twelve columns">
            <h2>Tilbakemeldinger til deg</h2>
            <%= render partial: "shared/feedback_item_box", collection: @feedbacks, as: 'feedback' %>
        </div>
    </div>
</div>


