<div class="ad-price-estimate">
    <% if @payin_rule.errors.any? %>
        Dette er en ugyldig pris:
        <ul>
            <% @payin_rule.errors.each do |attribute,message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    <% else %>
        <div class="main-price__row">
            <span class="main-price__label">Leiegebyr: </span>
            <span class="main-price__value">
                <%= format_monetary_full_pretty( @ad.booking_calculator.total_fee(@payin_rule) ) %>
            </span>
        </div>
        <div class="main-price__row">
            <i>Inkluderer forsikring</i>
        </div>
        <div class="main-price__row">
            <strong class="main-price__label">Utbetalt til deg per dag: </strong>
            <strong class="main-price__value">
            <%= format_monetary_full_pretty( @ad.booking_calculator.payout_amount(@payin_rule) ) %>
            </strong>
        </div>
    <% end %>
</div>