
<div class="container">
    <div class="row">
        <div class="seven columns">
            <%= render partial: 'shared/image_uploader', locals: { ad: @ad } %>
            <%= render partial: 'shared/image_manager', locals: { ad: @ad } %>
        </div>
        <div class="four columns offset-by-one column">
            <%= render partial: "ads/ad_input_copy" %>
        </div>
    </div>
</div>
