<tr>
    <td>
        <%= link_to financial_transaction.for_booking do %>
            <%= l financial_transaction.created_at, format: :plendit_short_date %>
        <% end %>
    <td>
        <%= link_to financial_transaction.from_user.decorate.display_name, financial_transaction.from_user %>
    </td>
    <td>
        <%= format_monetary_full_pretty financial_transaction.amount_to_receive %>
    </td>
</tr>