<%= render layout: 'gray_box', locals: { title: 'Penger du har tjent på utleie' } do %>
    <table>
        <thead>
            <td>Booking</td>
            <td>Betalt av</td>
            <td>Sum</td>
        </thead>
        <tbody>
            <%= render FinancialTransaction.from_user( current_user.id )  %>
        </tbody>
    </table>
<% end %>