<%= render layout: 'gray_box', locals: { title: 'Penger du har tjent på utleie i det siste året' } do %>
    <% if @financial_transactions.present? %>
        <table>
            <thead>
                <td>Booking</td>
                <td>Betalt av</td>
                <td>Sum</td>
            </thead>
            <tbody>
                <%= render @financial_transactions %>
            </tbody>
        </table>
    <% else %>
        <div>
            Du har foreløpig ikke tjent noe på utleie det siste året.
        </div>
    <% end %>
<% end %>