<section class="ad-feedback-section" id="feedback">
    <h2>Tilbakemeldinger</h2>
    <ol>
        <li>feedback item</li>
        <li>feedback item</li>
        <li>feedback item</li>
        <li>feedback item</li>
    </ol>
</section>