<div class="container front-categories-box-min">
    <div class="row">
        <div class="twelve columns">
            <div>
                <div class="front-categories-box-min__row">

                    <% @ad_categories.each_with_index do |a, index| %>
                        <%= link_to(
                                search_path(category: a.category),
                                class: 'front-categories-box-min__link') do %>

                            <div class="front-categories-box-min__icon">
                                <%= image_tag a.image, width: a.image_width %>
                            </div>
                            <div class="front-categories-box-min__title"><%= a.title %></div>
                        <% end %>
                        <% if index == 1 %>
                            <br class="front-categories-box-min__breaker">
                        <% end %>
                     <% end %>


                </div>
            </div>
        </div>
    </div>
</div>
