<div class="front-wishlist-box">
    <div class="container">
        <h1><%= t '.title' %></h1>
        <p class="front-wishlist-box__copy"><%= t '.copy' %></p>
        <button class="button button-secondary"><%= t '.button' %></button>

    </div>
</div>
