<div class="personal-bar">
    <div class="container">
        <div class="row">
            <div class="twelve columns">
                <a class="personal-bar__link personal-bar__link--active" href="#">Kontrollpanel</a>
                <a class="personal-bar__link" href="#">Leiehistorikk</a>
                <a class="personal-bar__link" href="#">Dine annonser</a>
                <a class="personal-bar__link" href="#">Din profil</a>
                <a class="personal-bar__link" href="#">Din konto</a>
                <a class="personal-bar__link" href="#">Forespørsler</a>
            </div>
        </div>
    </div>
</div>