<h1>Om plendit</h1>

<iframe width="560" height="315" src="<%= Rails.configuration.x.frontpage.explainer_video_url %>" frameborder="0" allowfullscreen></iframe>

<p class="u-push-down">
    Folk flest eier en god del ting man ikke bruker så ofte. Ta. f.eks biler,
    båter eller tilhengere. Eller hva med den kajakken eller kanoen som du
    kanskje ikke bruker hver dag? Folk flest trenger også av og til ting som
    man nødvendigvis ikke ønsker å kjøpe. Hva om man kunne tjene penger på de
    tingene man eier som ofte står lite brukt i boden, garasjen eller i hagen?
    Og når man skulle trenge det i tillegg ha tilgang på de tingene man ikke
    ønsker å kjøpe? 
</p>

<p>
    Vi har laget <strong>«plendit»<strong> for akuratt dette. plendit er en
    forkortelse for <strong>«people lend it».</strong> Eller «folk låner det»
    om du vil. plendit er et sted der du enkelt kan låne til og fra
    privatpersoner og forretninger i nærheten av deg.
</p>


<p>
    Det er gratis for både privatpersoner og forretninger å legge ut så mange
    annonser man skulle ønske på plendit. Leietakerne leier enkelt gjennom
    plendit og betaler sikkert gjennom tjenesten. Best av alt er at det er
    trygt. Vi verifiserer alle som oppretter profil. Og for å sikre brukerne
    en god opplevelse gir både utleier og leietaker hverandre en synlig rating
    i etterkant. Om ikke det skulle være nok tilbyr vi også forsikring av
    alle leieforhold gjennom IF Forsikring.
</p>

<p>
    Så vær med og bedre miljøet og din egen økonomi ved å opprette en gratis
    profil i dag. Lei ut bilen, skiboksen eller det partyteltet som du så
    altfor sjelden bruker selv. Lei det du trenger og spar penger!
    Ja: <strong>just plendit!</strong>
</p>

