<h1>Kontakt Plendit</h1>

<table>
    <tr>
        <th>E-post:</th>
        <td><%= mail_to Rails.configuration.x.customerservice.email %></td>
    </tr>
    <tr>
        <th>Telefon:</th>
        <td><%= Plendit::Application.config.x.organization.phone_number %></td>
    </tr>
    <tr>
        <th>Postadresse:</th>
        <td></td>
    </tr>
</table>
