<div class="container">
    <div class="row">
        <div class="seven columns">
            input step 2
        </div>
        <div class="four columns offset-by-one column">
            <%= render partial: "ad_input_copy" %>
        </div>
    </div>
</div>

