<div class="two-col-wide-layout">
    <div class="two-col-wide-layout__left">
        Input step 1
    </div>
    <div class="two-col-wide-layout__right">
        <%= render partial: "ad_input_copy" %>
    </div>
</div>
