


<section class="front-search-block">        
    <h1 class="front-search-block__title">LEI DET DU TRENGER</h1>

    <p>og spar penger! Mer enn 500.000 ting til leie.</p>
    <div>
        <form action="./result.html">
            <input placeholder="Hva vil du leie?" name="q" value="skiboks" class="front-search-block__input">
            <button type="submit" class="front-search-block__search-button">Søk</button>
        </form>
    </div>
    <div>
        <a class="front-search-block__new-ad-button" href="./input_step_1.html">Lei ut tingene dine her</a>
    </div>

</section>



<h1>Misc#frontpage</h1>
<p>Find me in app/views/misc/frontpage.html.erb</p>
