<h1>Takk for hjelpen!</h1>

<p class="u-push-down">
    Hei! Takk for at du tar deg tid til å teste plendit. Vi tar gjerne imot
    tilbakemeldinger. Enten kan du bruke + knappen nederst i høyre hjørne
    for å chatte, send oss en epost på 
    <%= mail_to Rails.configuration.x.customerservice.email, Rails.configuration.x.customerservice.email %>,
    snakk til oss på #finn-sandbox-plendig på slack, eller gå å pirk på
    en av oss i kontorlandskapet.
</p>


<h1>Kjente problemer</h1>

<p class="u-push-down">
    Det er fortsatt en del funksjonalitet som mangler, og en del bugs.
    Følgende saker er vi klar over allerede:
</p>

<ul>
    <li>Betaling mangler</li>
    <li>Booking er ikke skrudd på siden betaling mangler</li>
    <li>Det er ikke mulig å laste opp legitimasjon</li>
</ul>
