

<div class="search-filter-section">
    <div class="container">
        <div class="row search-filter-section__row">
            <div class="two columns">
                <label>Avstand:</label>
            </div>
            <div class="ten columns">
                <input class="search-filter-section__range-input" type="range">
                <span>Km &lt; 1</span>
                <span class="u-pull-right">Km &gt; 10</span>
            </div>
        </div>

        <div class="row search-filter-section__row">
            <div class="two columns">
                <label>Pris:</label>
            </div>
            <div class="ten columns">
                <input class="search-filter-section__range-input" type="range">
            </div>
        </div>

        <div class="row search-filter-section__row">
            <div class="two columns">
                <label>Område:</label>
            </div>
            <div class="four columns">
                <input class="search-filter-section__text-input" type="text" placeholder="Gatenavn">
            </div>
            <div class="two columns">
                <input class="search-filter-section__text-input" type="text" placeholder="By">
            </div>
            <div class="two columns">
                <input class="search-filter-section__text-input" type="text" placeholder="Fylke">
            </div>
            <div class="two columns">
                <input class="search-filter-section__text-input" type="text" placeholder="Postnr">
            </div>
        </div>

        <div class="row search-filter-section__row">
            <div class="two columns">
                <label>Tags:</label>
            </div>
            <div class="ten columns">
                <input type="text">
            </div>
        </div>

    </div>

</div>

<div class="container" style="width: 380px;">
    <h3><%= @ads.count %> treff for "<%= @term %>"</h3>
    <%= render partial: "search_result_item", collection: @ads, as: 'ad' %>
</div>