<h1>Brukervilkår</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, dolorem excepturi expedita inventore laboriosam magnam minima molestiae nemo quidem recusandae similique sunt voluptatem. Ab aliquid eius, ex maxime quam repellat!</p>

<ul>
  <li> <%= link_to 'MangoPay terms and conditions', 'docs/Mangopay_Terms-EN.pdf' %>.</li>
</ul>