@import 'constants.scss';

.ad-status-box {
    &__state-message {
        padding: $standard-spacing;
    }

    &__button {
        width: 200px;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}