@import 'constants.scss';

.ad-booking-box {
    position: relative;
    box-shadow: 0 0 1px rgba(black, 0.2),
                0 1px 2px rgba(black, 0.3);

    @media (min-width: $tablet) {
        top: -45px;
        left: -22px;
    }

    &__title {
        background-color: rgba($color-plendit-blue, 0.9);
        color: white;
        padding: $standard-spacing*0.74 $standard-spacing;
        margin-bottom: 0;
    }

    &__calendar-holder {
        text-align: center;
        background-color: $color-background;
    }

    &__button-holder {
        text-align: center;
        padding-bottom: $standard-spacing;
    }

    &__period {
        font-size: 70%;
        float: right;
        margin-top: 0.5rem;
    }
}
