@import 'constants.scss';

.ad-status-bar {
    min-height: 52px;
    background-color: white;
    text-align: center;
    box-shadow: $subtle-shadow;
    position: relative;
    
    &__summary::-webkit-details-marker {
        display: none;
    }

    &__link {
        text-decoration: underline;
    }

    &__title {
        margin: 0;
        padding-top: $standard-spacing;
        padding-bottom: $standard-spacing;
    }

    &--published {
    }

    &--draft {
    }

    &--waiting_review {
    }

    &--paused {
    }

    &--stopped {
    }
}
