@import 'constants.scss';

.gallery-box {
    &__main-image {
        border: solid thin $color-box-border;
    }

    &__thumbnails {
        text-align: center;
        padding: $standard-spacing;
    }

    &__thumbnail {
        margin: 0 ($standard-spacing / 3) 0 ($standard-spacing / 3);
        border-radius: 50%;
        width: 80px;
        height: 80px;
    }

}