@import 'constants.scss';

.ad-status-bar {
    min-height: 52px;
    color: white;
    background-color: $color-state-yellow;
    text-align: center;

    
    &__summary::-webkit-details-marker {
        display: none;
    }

    &__link {
        color: white;
        text-decoration: underline;
    }

    &__title {
        margin: 0;
        padding-top: $standard-spacing;
        padding-bottom: $standard-spacing;
    }

    &--published {
        background-color: $color-state-green;
    }

    &--draft {
        background-color: $color-state-yellow;
    }

    &--waiting_review {
        background-color: $color-state-yellow;
    }

    &--paused {
        background-color: $color-state-red;
    }

    &--stopped {
        background-color: $color-state-red;
    }
}
