@import 'constants.scss';

.ad-title-box {
    overflow: auto;
    position: relative;
    top: -42px;

    &__avatar-holder {
        float: left;
        display: inline-block;
        width: 120px;
        text-align: center;
    }

    &__title-holder {
        padding-top: 60px;

    }

    &__title {
        margin-left: 160px;
    }
    
}
