@import 'constants.scss';

.ad-title-box {
    padding-top: $large-spacing;
    padding-bottom: $standard-spacing;
    
    &__title {
        text-align: center;
    }
    
    &__info-holder {
        text-align: center;
    }
}
