@import 'constants.scss';

.ad-booking-box {
    @media (min-width: $bigscreen) {
        display: inline-block;
    }

    margin-top: $standard-spacing * 1;
    box-shadow: 0 0 1px rgba(black, 0.2),
                0 1px 2px rgba(black, 0.3);
    &__title {
        background-color: $color-plendit-blue;
        color: white;
        padding: $standard-spacing*0.74 $standard-spacing;
        margin-bottom: 0;
    }

    &__calendar-holder {
        text-align: center;
        background-color: $color-background;
    }

    &__button-holder {
        text-align: center;
    }

    &__period {
        font-size: 70%;
        float: right;
        margin-top: 0.5rem;
    }

    &__cant-book-prose {
        text-align: center;
        padding-left: $standard-spacing;
        padding-right: $standard-spacing;
        font-size: small;
        margin-bottom: $standard-spacing;
    }
}
