@import 'constants.scss';

.ad-title-box {

    &__title {
        margin-top: $standard-spacing;
        margin-bottom: $standard-spacing;
    }

    &__user-box {
        display: flex;
        align-items: center;
    }

    &__avatar-holder {
        flex: 0 0 auto;
        width: 100px;
    }

    &__details-holder {
        flex: 1 0 auto;
    }
}