@import 'constants.scss';

.availability-section {
    text-align: center;

    &__month {
        font-size: 120%;
    }

    &__book {
        width: 70%;
    }

    &__calendar-holder {
        overflow: auto;
        padding: $standard-spacing;
        background-color: white;
    }

    &__calendar-holder-inner {
        padding: $standard-spacing;
        overflow: auto;
        background-color: $color-subtle-gray-background;
    }
}