@import 'constants.scss';

.booking-price-summary {
    &__row {
        margin-bottom: 6px;
    }

    &__label {
        display: inline-block;
        width: 96px;
    }

    @media (max-width: 540px) {

        &__label {
            width: 134px;
        }
    }

    &__value {
        width: 112px;
        display: inline-block;
        text-align: right;
    }

    &__input {
        width: 112px;
        text-align: right;
    }
}

.booking-controls {
}
