@import 'constants.scss';

.booking-request-form {
    background-color: white;
    border: solid thin $color-box-border;
    border-top: none;
    text-align: center;

    & &__time-input {
        width: 30%;
        color: red;
        border: solid thin red;
    }

    &__book-button {
        padding-left: 0; // $standard-spacing * 2;
        padding-right: 0; //$standard-spacing * 2;
        max-width: 210px;
        width: 88%;
    }

    &__heart {
        vertical-align: middle;
    }
}
