@import 'constants.scss';

.booking-request-form {
    background-color: white;
    border: solid thin $color-box-border;
    border-top: none;
    text-align: center;

    & &__time-input {
        width: 30%;
        color: red;
        border: solid thin red;
    }

    &__book-button {
        padding-left: $standard-spacing * 2;
        padding-right: $standard-spacing * 2;
    }

    &__heart {
        vertical-align: middle;
    }
}
