//$main-font: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;

$standard-spacing: 12px;
$large-spacing: $standard-spacing * 3;

$color-background: #edefed;
$color-plendit-blue: #2a96ff;
$color-box-border: #9b9b9b;

$color-gray-background: #d4d4d4; // rgb(212,212,212);

$color-approve: #36b984;
$color-edit: #8f8989;
$color-reject: #c20400;

@mixin buttonish() {
    color: red;
    border: solid thin $color-box-border;
    border-radius: 2px;
    font-size: 16px;
    padding: $standard-spacing;
}

@mixin inputish() {
    color: green;
    border: solid thin $color-box-border;
    border-radius: 2px;
    font-size: 32px;
}

