//$main-font: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;


/* Breakpoints */
/* Mobile is set as a maximum, whereas the other sizes are minimums.
   There should always be a 1px difference between mobile & tablet in
   this configuration. */
$mobile: 767px;
$tablet: 768px;
$desktop: 960px;
$bigscreen: 1200px;
$flex-collapse: 512px;


$standard-spacing: 12px;
$large-spacing: $standard-spacing * 3;

$color-background: #edefed;
$color-plendit-blue: #2a96ff; // rgb(42, 150, 255);
$color-box-border: #9b9b9b;
$color-gray-text: #454649;

$color-gray-background: #d4d4d4; // rgb(212,212,212);
$color-subtle-gray-background: #e5e7e5;
$color-skeleton-input-border: #d1d1d1;

$color-broadcast-background: #d1f7de;

$color-button-delete: #be0027;
$color-button-good: #36b984;
$color-button-bad: #c20400;
$color-button-neutral: #8f8989;

$color-state-green: #135453;
$color-state-red: #ba1f29;
$color-state-yellow: #E8C81D;

$color-privacy-yellow: rgb(252, 248, 227);

$subtle-shadow: 0 1px 5px rgba(black, 0.1);

.standard-box--nested {
    padding: $standard-spacing * 2;
    border-top: 1px solid $color-gray-background;
    background-color: white;
    color: black;

    @media (max-width: $flex-collapse) {
        padding: $standard-spacing;
    }


}

.standard-box {
    @extend .standard-box--nested;
    border-left: 1px solid $color-gray-background;
    border-right: 1px solid $color-gray-background;
    box-shadow: $subtle-shadow;

    &:last-of-type {
        border-bottom: 1px solid $color-gray-background;
    }
}

