@import 'constants.scss';

.flash-bar {
    padding: $standard-spacing;
    background-color: white;
    color: black;
    font-weight: bold;

    &--overlaid {
        position: absolute;
        top: 52px;
        left: 0;
        width: 100%;
        z-index: 12;
    }

}



