@import 'constants.scss';

.flash-bar {
    padding: $standard-spacing;
    background-color: white;
    color: black;
    font-weight: bold;
    text-align: center;

    &--broadcast {
        background-color: $color-broadcast-background;
    }
}
