@import 'constants.scss';

.front-popular-box {
    text-align: center;
    margin-top: $standard-spacing * 3;
    margin-bottom: $standard-spacing * 2;

    &__row1,
    &__row2 {
        display: flex;
        height: 240px;
    }

    &__row2 {
        height: 300px;
    }

    &__col1 {
        flex-grow: 1;
        display: flex;
        flex-direction: column;        
    }

    &__bgimg {
        flex-grow: 1;
        display: flex;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        margin: 11px 11px 10px 10px;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-content: stretch;
        align-items: center;
        position: relative;
        border: solid 1px #ccc;

        @media screen and (max-width: 640px) {
            margin: 2px;
        }

        // Fancy shadow effect thingy
        &:before, &:after
        {
          z-index: -1;
          position: absolute;
          content: "";
          bottom: 15px;
          left: 10px;
          width: 50%;
          top: 80%;
          max-width:300px;
          background: #777;
          -webkit-box-shadow: 0 15px 10px #777;
          -moz-box-shadow: 0 15px 10px #777;
          box-shadow: 0 15px 10px #777;
          -webkit-transform: rotate(-3deg);
          -moz-transform: rotate(-3deg);
          -o-transform: rotate(-3deg);
          -ms-transform: rotate(-3deg);
          transform: rotate(-3deg);
        }

        &:after
        {
          -webkit-transform: rotate(3deg);
          -moz-transform: rotate(3deg);
          -o-transform: rotate(3deg);
          -ms-transform: rotate(3deg);
          transform: rotate(3deg);
          right: 10px;
          left: auto;
        }
    }

    &__link {
        background-color: rgba(0,0,0, 0.45);
        color: white;
        padding: $standard-spacing / 2;
        border-radius: 4px;
        min-width: 70%;
    }

    &__title {
    }
}
