@import 'constants.scss';

.front-popular-box {
    color: $color-gray-text;
    text-align: center;
}

.popular-topic-box {
    display: inline-block;
    text-transform: uppercase;
    margin-left: $standard-spacing;
    margin-right: $standard-spacing;
    margin-bottom: $standard-spacing;

    @media screen and (max-width: 1024px) {
        width: 170px;
        margin-left: $standard-spacing / 2 ;
        margin-right: $standard-spacing / 2;

        &__title {
            font-size: 80%;
        }

        &__img {
            width: 170px;;
            height: auto;
        }
    }

    &:nth-of-type(1n) {
        background-color: #710149;
    }

    &:nth-of-type(2n) {
        background-color: #89e26b;
    }

    &:nth-of-type(3n) {
        background-color: #2a96ff;
    }

    &__title {
        color: white;
    }

    &__link {
        text-decoration: none;
    }
}