@import 'constants.scss';

.image-manager {

    &__item {
        display: flex;
    }

    &__thumb-box {
        flex-shrink: 0;
        width: 220px;
    }

    &__controls {

    }

    form {
        display: inline;
    }
}
