@import 'constants.scss';

.image-manager {
    transition: opacity 0.2s;

    &__item {
        min-height: 160px;
        padding: $standard-spacing;
        background-color: white;
        margin-bottom: $standard-spacing / 2;
    }

    &__thumb-box {

    }

    &__thumb {
        width: 100%;
        height: auto;
    }

    &__controls {
        text-align: right;
    }

    &__button {
        margin-left: $standard-spacing / 2;
    }
}
