@import 'constants.scss';

.image-manager {

    transition: opacity 0.2s;

    &__item {
        min-height: 135px;
    }

    &__thumb-box {
    }

    &__controls {
        text-align: right;

    }

    form {
        display: inline;
    }

    &__delete-button {
        color: white;
        background-color: $color-plendit-blue;
    }

    &__primary-button {
        color: white;
        background-color: $color-button-delete;
    }
}
