@import 'constants.scss';

.incoming-request-item {
    padding: $standard-spacing;

    &:nth-of-type(n+2) {
        background-color: $color-subtle-gray-background;
    }

    &__personalia {
        text-align: center;
    }
}
