.locations-list {
    list-style: none;

    &__item {
        overflow: auto;
    }

    &__star-button {
        border: none;
        background-color: white;
        vertical-align: bottom;
        display: inline-block;
        padding: 0;
        height: 25px;
    }

    &__star-holder {
        display: inline-block;
        width: 40px;
        text-align: center;
    }
}