@import 'constants.scss';

.about-footer {
    background-color: black;
    color: white;
    padding-top: $standard-spacing * 3;

    &__list {
        list-style: none;
        padding-left: 0;
    }

    &__list-item {
        margin-bottom: 0;

    }
}