.new-ad-category-selector {
    @import 'constants.scss';

    // display: inline;

    &__button {
        background-color: $color-plendit-blue;
        border: solid thin $color-box-border;
        display: block;
        width: 100%;
        height: 120px;
        text-transform: none;
        color: white;
        border: solid thin white;
    }

    &__title {
        margin: 0;
    }
}