@import 'constants.scss';

.new-ad-category-selector {
    display: inline;

    &__button {
        border: solid thin $color-box-border;
        display: inline-block;
        width: 160px;
        height: 220px;
        color: $color-gray-text;
    }

    &__icon {
        background-color: $color-plendit-blue;
        display: inline-block;
        width: 100px;
        height: 100px;
        border: solid 2px white;
        border-radius: 50%;
        overflow: hidden;
        padding-top: 16px;
    }

    &__title {
        margin: 0;
    }
}