@import 'constants.scss';

.notification-box {
    background-color: white;
    box-shadow: $subtle-shadow;
    padding-top: $standard-spacing / 2;

    &__item {
        padding-top: $standard-spacing / 2;
        padding-bottom: $standard-spacing / 2;
        padding-right: $standard-spacing;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: black;
        border-bottom: solid thin $color-gray-background;
        background-color: white;

        &--unread {
             background-color: $color-subtle-gray-background;
        }

        &:last-of-type {
            border-bottom: none;
        }
    }

    &__avatar {
        width: 66px;
        text-align: center;
        flex-grow: 0;
        flex-shrink: 0;
    }

    &__body {
    }

    &__message {
    }

    @media (min-width: $tablet) {
        position: absolute;
        top: 24px;
        left: 500px;
        z-index: 10;
        width: 400px;
        border: solid thin $color-gray-background;

        &__up-triangle {
            display: block;
            position: absolute;
            right: 8%;
            top: -12px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 8px 12px 8px;
            border-color: transparent transparent #fff transparent;
        }
    }
}
