@import 'constants.scss';

.notification-box {
    background-color: white;

    &__up-triangle {
        display: none;
    }

    &__top {
        padding: $standard-spacing;
        border-bottom: solid thin $color-box-border;
    }

    &__list {
        margin-bottom: 0;
    }

    &__row {
        padding: $standard-spacing / 3;
        margin-bottom: 0;
        list-style: none;
        border-bottom: solid thin $color-box-border;

        &:last-of-type {
            border-bottom: 0;
        }

        &:nth-of-type(even) {
            background-color: $color-subtle-gray-background;
        }
    }

    &__para {
        margin: 0;
    }

    @media screen and (min-width: 640px) {
        position: absolute;
        top: 24px;
        left: 500px;
        z-index: 10;
        width: 400px;
        background-color: white;
        border: solid thin $color-box-border;
        border-radius: 4px;

        &__up-triangle {
            display: block;
            position: absolute;
            right: 8%;
            top: -12px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 8px 12px 8px;
            border-color: transparent transparent #fff transparent;
        }
    }
}