@import 'constants.scss';

.owned-ad-item {
    padding: $standard-spacing $standard-spacing*2 $standard-spacing*2 $standard-spacing*2;

    &:after {
      content: "";
      display: block;
      clear: both;
    }

    &__thumb {
        max-height: 80px;
    }

    &:nth-of-type(odd) {
        background-color: $color-subtle-gray-background;
    }
}
