@import 'constants.scss';

.owned-ad-item {
    padding: $standard-spacing;

    &__thumb {
        max-height: 80px;
    }

    &:nth-of-type(odd) {
        background-color: $color-subtle-gray-background;
    }
}
