@import 'constants.scss';

.pageable-calendar {
    text-align: center;

    &__month {
        font-size: 120%;
    }

    &__calendar-holder {
        overflow: auto;
        padding: $standard-spacing;
        background-color: white;
    }

    &__calendar-holder-inner {
        padding: $standard-spacing;
        overflow: auto;
        background-color: $color-subtle-gray-background;
    }
}

.single-pageable-calendar {
    text-align: center;

    &__pager {
        color: $color-gray-text;
        text-decoration: none;
        margin-left: 12px;
        margin-right: 12px;
    }

    &__month {
        font-size: 120%;
    }

    &__calendar-holder-inner {
        padding: $standard-spacing;
    }
}
