@import 'constants.scss';

.personal-bar {
    background-color: white;
    padding-top: $standard-spacing;
    padding-bottom: $standard-spacing;
    box-shadow: $subtle-shadow;
    border-bottom: 1px solid $color-gray-background;

    &__link {
        margin-right: $standard-spacing * 2.5;

        &--active {
            border-bottom: 2px solid $color-plendit-blue;
        }
    }

    &__link-icon {
        margin-right: 4px;
    }

    @media (max-width: $mobile) {
        &__link {
            display: inline-block;
            padding: 4px 0 4px 0;
            width: 30%;
            text-align: center;
            margin-right: $standard-spacing;

            &--active {
                border: none;
            }
        }

        &__link-icon {
            display: inline;
        }
    }

    @media (max-width: 500px) {
        &__link {
            width: 44%;
        }
    }

}