@import 'constants.scss';

.personal-bar {
    background-color: white;
    padding-top: $standard-spacing;
    padding-bottom: $standard-spacing;
    box-shadow: $subtle-shadow;
    border-bottom: 1px solid $color-gray-background;

    &__link {
        text-decoration: none;
        margin-right: $standard-spacing;

        &--active {
            border-bottom: 2px solid $color-plendit-blue;
        }
    }

    @media (max-width: $mobile) {
        &__link {
            display: block;
            padding: 4px 0 4px 0;

            &--active {
                text-decoration: underline;
                border: none;
            }
        }
    }
}