@import 'constants.scss';

.rental-request-buttons {
    text-align: center;
    padding: $standard-spacing;

    &__button {
        width: 210px;
        height: 60px;
        color: white;
        line-height: 12px;
        margin: $standard-spacing;

        &--good {
            background-color: $color-button-good;
        }

        &--bad {
            background-color: $color-button-bad;
        }

        &--neutral {
            background-color: $color-button-neutral;
        }
    }
 
}