@import 'constants.scss';

.search-result-item {
    $two-column-break: 960px;

    position: relative;

    &__padder {
        padding: 0 $standard-spacing $standard-spacing 0;
    }

    @media screen and (min-width: $two-column-break) {
        width: 50%;
        display: inline-block;
        overflow: hidden;
        float: left;
        border: none;
    }

    &__title {
        font-size: 120%;
        padding: 12px;
        margin: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 74%;
    }

    &__link {
        background-color: white;
        text-decoration: none;
        color: black;
        display: inline-block;
        width: 100%;
    }

    &__image-holder {
        padding-bottom: (100% / 3) * 2 ;
    }

    &__image {
        width: 100%;
        height: auto;
        float: left;
    }

    &__price-floater {
        position: absolute;
        text-align: center;
        top: 12px;
        right: 7px;
        min-width: 100px;
        height: 46px;
        box-shadow: $subtle-shadow;
        color: white;
        background-color: $color-plendit-blue;
        font-size: 16px;
        line-height: 18px;
        padding-top: 4px;
        padding-left: 8px;
        padding-right: 8px;
    }

    &__profile {
        position: absolute;
        width: 100px;
        bottom: 20px;
        right: 8px;
        text-align: center;
    }
}