@import 'constants.scss';

.search-result-view-chooser {

    &__segment-holder {
        text-align: center;
        display: inline-block;
        width: 100%;
    }

    &__segment-button {
        display: inline-block;
        height: 38px;
        padding: 0 30px;
        color: #555;
        text-align: center;
        font-size: 11px;
        font-weight: 600;
        line-height: 38px;
        letter-spacing: .1rem;
        text-decoration: none;
        white-space: nowrap;
        background-color: transparent;
        border-radius: 4px;
        border: 1px solid #bbb;
        cursor: pointer;
        box-sizing: border-box;
        width: 49%;
        float: left;
    }

    &__segment-button--left {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    &__segment-button--right {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: 0;
    }

    &__segment-button--selected {
        color: #FFF;
        background-color: #2a96ff;
        border-color: transparent;
    }
}

.multi-marker-box {
    width: 324px;
    height: 380px;
    overflow-y: scroll;
}


.search-title-box {
    text-align: center;
}


$breakpoint: 550px;


@mixin search-split-pane($mapWidth) {
    &__map-box {
        width: $mapWidth;
    }

    &__hits-box {
        left: $mapWidth;
        width: 100% - $mapWidth;
    }
}

.result-container {
    height: 300px;
    overflow: hidden;
    position: relative;

    &__map-box {
        position: absolute;
        width: 49.3333333333%;
        top: 0;
        bottom: 0;

        @media screen and (max-width: $breakpoint) {
            width: 100%;
            display: none;
        }
    }

    &__hits-box {
        border-left: solid thin $color-box-border;
        position: absolute;
        left: 49.3333333333%;
        width: 50.6666666667%;
        top: 0;
        bottom: 0;
        overflow: scroll;
        overflow-x: hidden;
        padding-left: 2px;
        padding-right: 2px;

        @media screen and (max-width: $breakpoint) {
            width: 100%;
            left: 0;
        }
    }

    @media screen and (min-width: 768px) {
        @include search-split-pane(58%);
    }

    @media screen and (min-width: 960px) {
        @include search-split-pane(40%);
    }

    @media screen and (min-width: 1400px) {
        @include search-split-pane(50%);
    }
}

.result-map {
    position:absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.search-result-view-chooser {
    display: none;

    @media screen and (max-width: $breakpoint) {
        display: block;
    }
}

.result-infoview {
    width: 320px;
    height: 240px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    position: relative;

    &__body {
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: rgba(255,255,255, 0.8);
        padding: 0 $standard-spacing / 2 0 $standard-spacing / 2;
        color: black;
        text-decoration: none;
    }

    &__title {
        margin-bottom: 0;
    }
}

.pagination {
    li {
        display: inline-block;
    }

    a, span {
        border: 1px solid #e6e6e6;
        border-radius: 0.25em;
        padding: .6em .8em;
        text-decoration: none;
    }

    &__next::after {
        content: ' \00bb';
    }

    &__prev::before {
        content: '\00ab ';
    }

    &__disabled {
        color: gray;
    }

}

.search-result-box {

    &__paging-holder {
        text-align: center;
        background-color: white;
        padding-bottom: $standard-spacing;
    }
}