@import 'constants.scss';

.search-filter-section {
    background-color: white;
    padding-top: $standard-spacing;

    &__form {
        margin-bottom: 0;
    }

    &__row {
        padding-bottom: $standard-spacing / 2;
    }

    & &__text-input {
        width: 100%;
    }

    & &__range-input {
        width: 100%;
        margin-bottom: 0;
    }

    &__toggler {
        left: 50%;
        right: 50%;
        position: absolute;
        text-align: center;
        display: inline-block;
        width: 64px;
        height: 42px;
        line-height: 14px;
        padding-top: 4px;
        margin-top: -46px;
        border-radius: 90px 90px 0 0;
        background-color: white;

        &:hover {
            cursor: pointer;
        }
    }
}

.search-title-box {
    padding: $standard-spacing / 4;

    &__title {
        margin: 0;
    }

}

.result-container {
    height: 300px;
    overflow: hidden;
    position: relative;

    &__map-box {
        position: absolute;
        width: 65.1%;
        top: 0;
        bottom: 0;
    }

    &__hits-box {
        position: absolute;
        left: 65.3333333333%;
        width: 34.6666666667%;
        top: 0;
        bottom: 0;
        overflow: scroll;
        overflow-x: hidden
    }
}

.result-map {
    position:absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}