@import 'constants.scss';


.slim-promoted-ad {
    position: relative;
    display: inline-block;
    width: 48%;
    max-width: 180px;
    border: solid thin $color-box-border;
    overflow: hidden;
    padding: $standard-spacing;
    background-color: white;
    margin-left: $standard-spacing;

    &__image {
        width: 100%;
        border: solid thin $color-box-border;
    }

    &__title {
        font-size: 1.2rem;
        font-weight: bold;
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: $standard-spacing / 2;
    }

    &__body {
        padding: 0;
        margin: 0;
        height: 100px;
        margin-bottom: $standard-spacing / 2;
        font-size: 1.1rem;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__button {
        height: 28px;
        line-height: 24px;
        width: 100%;
        padding: 0;
        margin: 0;
        font-size: 50%;
        text-transform: none;
    }

    &__fav-button-image {
        vertical-align: middle;
    }

    &__price-floater {
        position: absolute;
        text-align: center;
        top: 24px;
        right: -6px;
        width: 100px;
        height: 46px;
        box-shadow: -3px 3px 5px 0px rgba(0,0,0,0.75);
        color: white;
        background-color: $color-plendit-blue;
        font-size: 16px;
        line-height: 18px;
        padding-top: 4px;
    }
}