@import 'constants.scss';

$top-bar-height: 52px;

.top-bar {
    background-color: $color-plendit-blue;
    min-height: $top-bar-height;
    padding: 10px 12px 0 12px;
    color: white;

    &__form {
        display: inline;
    }

    &__search-holder {
        background-color: white;
        padding: 4px;
        margin-left: 12px;
        border: solid thin $color-box-border;
    }
    
    & &__search-input {
        color: black;
        border: none;
        height: 18px;
        margin: 0;
        vertical-align: middle;

    }

    &__search-icon {
        vertical-align: middle;
    }

    &__logo-link {
        &:hover {
            text-decoration: none;
        }
    }

    &__logo {
        vertical-align: middle;
    }

    &__rightbox {
        display: block;
        float: right;
        height: 38px;
        line-height: 38px;
    }

    &__navbar-link {
        color: white;
    }

    &__avatar {
        vertical-align: middle;
    }
    
    &__notification-count {
        background-color: red;
        color: white;
        font-weight: bold;
        padding: 2px 4px 2px 4px;
        border-radius: 4px;
        font-size: 8px;
        position: relative;
        top: -10px;
        left: -4px;
        -webkit-box-shadow: 1px 1px 1px 0px #000;
        -moz-box-shadow: 1px 1px 1px 0px #000;
        box-shadow: 1px 1px 1px 0px #000;
    }

    &__top-section {
        margin-left: $standard-spacing / 2;
    }
}


.top-anonymous-menu {

}

.top-user-menu {

}
