@import 'constants.scss';

$top-bar-height: 52px;

.top-bar {
    background-color: $color-plendit-blue;
    min-height: $top-bar-height;
    padding: 10px 12px 0 12px;
    color: white;
    position: relative;

    @media (max-width: 480px) {
        padding: 10px 6px 0 6px;
    }

    &__form {
        display: inline;
    }

    &__search-holder {
        background-color: white;
        padding: 4px;
        margin-left: 12px;
        border: solid thin $color-box-border;
    }

    &__me-label {
        @media (max-width: 428px) {
            display: none;
        }
    }

    & &__search-input {
        height: 32px;
        margin-left: 10px;
        margin-bottom: 0;
        vertical-align: 4px;
        background-color: rgba(#fff, 0.65);
        color: black;
        border-color: darken($color-plendit-blue, 3);
        box-shadow: 0 1px 1px rgba(darken($color-plendit-blue, 10), 0.3) inset;

        /* NOTE: Ok, this is not ideal.  */
        &::-webkit-input-placeholder {
            color: rgba(mix($color-plendit-blue, black), 0.5);
        }
        &::-moz-placeholder {
            color: rgba(mix($color-plendit-blue, black), 0.5);
        }
        &:-ms-input-placeholder {
            color: rgba(mix($color-plendit-blue, black), 0.5);
        }
        &::-ms-input-placeholder {
            color: rgba(mix($color-plendit-blue, black), 0.5);
        }

        &:focus {
            background-color: rgba(white, 0.9);
            box-shadow: 0 1px 1px rgba(darken($color-plendit-blue, 10), 0.5) inset;
        }

        /* NOTE: This breakpoint is hardcoded. */
        @media (max-width: 520px) {
            width: 128px;
        }

        /* NOTE: This breakpoint is hardcoded. */
        @media (max-width: 372px) {
            width: 100px;
        }

        /* NOTE: This breakpoint is hardcoded. */
        @media (max-width: 340px) {
            width: 76px;
        }
    }

    &__navbar-name {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 100px;
        display: inline-block;
        position: relative;
    }

    &__search-icon {
        vertical-align: middle;
    }

    &__logo-link {
        &:hover {
            xxtext-decoration: none;
        }
    }

    &__logo {
        vertical-align: middle;
        margin-bottom: 12px;

        @media (max-width: 480px) {
            width: 92px;
            margin-bottom: 10px;
        }
    }

    &__rightbox {
        float: right;
    }

    &__navbar-link {
        color: white;
        xxtext-decoration: none;
    }

    &__avatar {
        vertical-align: middle;
        margin-bottom: 5px;
        margin-left: $standard-spacing / 2;
    }

    &__notification-count {
        height: 18px;
        min-width: 18px;
        line-height: 18px;
        font-size: 11px;
        border-radius: 18px;
        padding-left: 3px;
        padding-right: 3px;
        background-color: #e7384a;
        display: inline-block;
        position: absolute;
        top: -7px;
        right: -10px;
        text-align: center;
    }

    &__notification-logo {
        width: 18px;
        vertical-align: sub;
    }

    &__top-section {
        margin-right: 6px;
        color: white;
        position: relative;
    }
}
