// Place all the styles related to the AdImages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// probably should be moved to a different file so it will be loaded only in the correct view.
//= require dropzone/dropzone

// this is in the wrong place. need to be moved to the correct place later:
.image-upload-box {
  background-color: #fff;
  border: dotted 2px #000;
  border-radius: 4px;
  padding: 22px;
  text-align: center;
}