// Place all the styles related to the Ads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "constants";

.my-favorite-ad {
}

.price-editor {
    &__ruler {
        margin: $standard-spacing;
    }

    &__price-input {
        text-align: right;
        float: right;
        margin-bottom: 0;
    }

    &__row {
        margin-top: 30px;
        height: 44px;
    }

    &__label {
        display: inline;
    }
}

.nested_ad_price_rules {
    margin: 0;
}

.price-estimate {
    display: flex;

    &__left {
        flex: 1 1 auto;
        align-self: flex-end;
    }

    &__right {
        flex: 1 1 auto;
        width: 270px;
        text-align: right;
    }

    &__label {
        display: inline-block;
    }

    &__value {
        display: inline-block;
        min-width: 90px;
    }
}

.in-image {
    padding: $standard-spacing * 2;
    background-color: white;
    border-top: 1px solid $color-gray-background;
    border-left: 1px solid $color-gray-background;
    border-right: 1px solid $color-gray-background;
    border-bottom: 1px solid $color-gray-background;
    box-shadow: $subtle-shadow;
    display: flex;
    color: black;
    text-decoration: none;


    &__img-box {
        text-align: center;
        max-width: 160px;
        margin-right: $standard-spacing * 2;

        img {
            width: 100%;
        }
    }

    &__text-box {
        flex: 1 1 auto;
    }

    &__description {
        width: 100%;
    }

    &__button-holder {
        text-align: right;
    }

    &__main-label {
        visibility: hidden;
    }

    &--primary {
        .in-image__main-label {
            visibility: visible;
        }

        .in-image__make-main-buton {
            display: none;
        }
    }
}

.in-form {
    &__description {
        margin-bottom: 0;
    }
}

.main-price {
    &__row {
        margin-bottom: $standard-spacing / 2;
    }

    &__input-price {
        width: 80px;
        text-align: right;
    }

    &__label {
        display: inline-block;
        width: 196px;
    }

    &__value {
        width: 80px;
        display: inline-block;
        text-align: right;
    }

    @media (min-width: 374px) {
        &__label {
            width: 258px;
        }
    }
}

.price-adder {
    &__label {
        display: inline-block;
        width: 172px;
    }

    &__days {
        width: 60px;
        text-align: right;
    }

    &__price {
        width: 80px;
        text-align: right;
    }
}

.ad-input-errors {
    &__list {
        list-style: none;
    }
}

.parallel-booking-box-holder {
    margin-top: $standard-spacing;
    display: inline-block;
    width: 320px;
}

.hero-holder {
    margin-top: $standard-spacing;
    vertical-align: top;

    @media (min-width: $bigscreen) {
        display: inline-block;
        width: 840px;
        margin-right: $standard-spacing;
    }
}

.facebook-ad-sharer {
    margin-top: $standard-spacing;
    font-weight: bold;
    text-align: center;
}

.gallery-thumb-bar {
    margin-top: $standard-spacing;
    display: flex;
    flex-wrap: wrap;

    &--full {
        justify-content: space-between;
    }
}

.gallery-thumb {
    width: 90px;
    height: 60px;
    margin-right: $standard-spacing;
    //display: inline-block;

     // @media (min-width: $bigscreen) {
     //    &--no-7 {
     //        display: none;
     //    }
     // }

     // @media (min-width: $tablet) {
     //    &--no-5, &--no-6, &--no-7 {
     //        display: none;
     //    }
     // }

}