/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require 'normalize'
 *= require 'skeleton'
 *= require_tree .
 *= require_self
 */

@import 'constants.scss';

@import 'font-awesome-sprockets';
@import 'font-awesome';


.icon {
    fill: black;
}

.u-fill-green {
    fill: green;
    color: green;
}

.u-fill-red {
    fill: red;
    color: red;
}

.u-fill-blue {
    fill: #2a96ff;
    color: #2a96ff;
}

.u-fill-gray {
    fill: gray;
    color: gray;
}

.u-fill-gold {
    fill: gold;
    color: gold;
}

.u-fill-brown {
    fill: #a56800;
    color: #a56800;
}

.u-fill-white {
    fill: white;
    color: white;
}

select[disabled] {
    opacity: 0.5;
}

summary {
    outline: none;
}

.partner-box {
    &__logo {
       vertical-align: middle;
        max-width: 180px;
        max-height: 90px;
        margin: 12px;
    }
}

.large-plendbot-face {
    background-color: rgb(237, 230, 217);
    margin: 12px;
    border-radius: 50%;
    border: solid 3px white;
    box-shadow: $subtle-shadow;
}

.status-label {
    &--green {
        color: $color-state-green;
    }

    &--yellow {
        color: $color-state-yellow;
    }

    &--red {
        color: $color-state-red;
    }
}

.img-and-content {
    display: flex;
    padding: $standard-spacing * 2;
    color: black;
    background-color: white;
    border-top: 1px solid $color-gray-background;
    border-left: 1px solid $color-gray-background;
    border-right: 1px solid $color-gray-background;
    box-shadow: $subtle-shadow;
    align-items: center;
    text-decoration: none;


    &__title {
        margin: 0;
        padding: 0;
        text-decoration: none;
    }

    &__left {
        flex: 0 0 auto;
        width: 120px;
    }

    &__right {
        flex: 1 1 auto;
        width: 100%;
    }

    @media (max-width: 376px) {
        padding: $standard-spacing;

        &__left {
            flex: 0 0 auto;
            width: 100px;
        }
    }

    @media (max-width: 321px) {

        &__left {
            display: none;
        }
    }
}