@import 'constants.scss';

.booking-request-summary {
    display: inline-block;
    margin-left: 24px;
}

.booking-heading {
    display: flex;
    align-items: flex-start;

    &__image-holder {
        flex: 0 0 auto;
        width: 270px;
        padding-right: $standard-spacing * 2;
        padding-top: 16px;
    }

    &__info-holder {
        flex: 1 1 auto;
    }

    &__image {
        width: 100%;
    }

    @media (max-width: 600px) {
        flex-direction: column-reverse;

        &__image-holder {
            width: 100%;
            padding: 0;
        }
    }
}


.booking-insurance-box {
    &__title {

    }

    &__list {
        padding-top: $standard-spacing;
        display: inline-block;
        list-style: none;
    }

    &__logo {
        vertical-align: top;
        margin-left: 80px;
    }
}