@import 'constants.scss';

.booking-request-summary {
    display: inline-block;
    margin-left: 24px;
}

.booking-summary {
    &__row {
        margin-top: 8px;
    }
}

// copied from image and heading. should be a partial
.booking-heading {
    display: flex;
    padding: $standard-spacing * 2;
    color: black;
    align-items: center;
    text-decoration: none;


    &__title {
        margin: 0;
        padding: 0;
        margin-top: 6px;
        text-decoration: none;
    }

    &__left {
        flex: 0 0 auto;
        width: 120px;
    }

    &__right {
        flex: 1 1 auto;
        width: 100%;
    }

    &__name {
        display: inline-block;
        text-align: center;
        vertical-align: super;
    }

    @media (max-width: 376px) {
        padding: $standard-spacing;

        &__left {
            flex: 0 0 auto;
            width: 100px;
        }
    }

    @media (max-width: 321px) {

        &__left {
            display: none;
        }
    }
}


.booking-insurance-box {
    &__title {

    }

    &__list {
        padding-top: $standard-spacing;
        display: inline-block;
        list-style: none;
    }

    &__logo {
        vertical-align: top;
        margin-left: 80px;
    }
}

.rating-selector {
    &__star {
        display: inline-block;
        width: 22px;
        height: 22px;
        background-image: url(star_empty.svg);
        &--full, &:hover {
            background-image: url(star_full.svg);
        }

    }

}

.activity-item {
    color: black;
    text-decoration: none;
}

.booking-feedback {
    &__stars {
        padding-bottom: $standard-spacing;
    }
}
