@import 'constants.scss';

.booking-request-summary {
    display: inline-block;
    margin-left: 24px;
}

.booking-heading {
    min-height: 116px;

    &__info-holder {
        display: inline-block;
        vertical-align: top;
    }

    &__image-holder {
        display: inline-block;
        width: 100%;
        margin-right: $standard-spacing;
        vertical-align: top;

        @media (min-width: 500px) {
            width: 160px;
        }

        & > img {
            width: 100%;
        }
    }

    &__title {
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    &__user-box {
        display: flex;
        align-items: center;
    }

    &__avatar-holder {
        flex: 0 0 auto;
    }

    &__details-holder {
        flex: 1 0 auto;
        margin-left: $standard-spacing;
    }
}