
$plendit-blue: blue;
$standard-spacing: 12px;

$color-background: #edefed;
$color-plendit-blue: #2a96ff;
$color-box-border: #9b9b9b;

$color-approve: #36b984;
$color-edit: #8f8989;
$color-reject: #c20400;

