@import "constants";


.feedback-box {
    background-color: white;
    box-shadow: $subtle-shadow;
    border: 1px solid $color-gray-background;

    &__ad-item {
        padding: $standard-spacing * 2;
        display: flex;
        align-items: center;
        color: black;
        text-decoration: none;
        border-bottom: 1px solid $color-gray-background;

        &-img-box {
            flex: 0 0 auto;
            margin-right: $standard-spacing * 2;
        }

        &-description, &-text-box {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

    }

    &__feedback {
        padding: $standard-spacing * 2;
        overflow: auto;
    }

    &__submit {
        margin-left: $standard-spacing / 2;
    }

    &__star-label {
        display: inline;
    }
}

