@import 'constants.scss';

.front-search-block {
    position: relative;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__splash {
        position: absolute;
        top: 0;
        width: 100%;
        text-align: center;
        padding-top: 40px;
        padding-left: $standard-spacing;
        padding-right: $standard-spacing;

        @media (max-width: $desktop) {
            padding-top: 28px;
        }

        @media (min-width: $bigscreen) {
            padding-top: 80px;
        }
    }

    &__title {
        color: white;
        font-size: 70px;
        font-weight: bold;
        margin: $standard-spacing 0 $standard-spacing 0;
        text-shadow: 2px 2px 3px #333;

        @media (max-width: $desktop) {
            font-size: 36px;
        }
    }

    &__copy {
        color: white;
        font-size: 120%;
        text-shadow: 1px 2px 2px #333;
    }

    &__input {
        /* WORKAROUND: Aligns in Webkit/Blink.
                       Pick your poisons / frameworks. */
        position: relative;
        top: 1px;
    }

    &__input--date {
        width: 120px;
    }

    &__create-box {
        text-align: center;
        color: white;
        position: absolute;
        bottom: 0;
        height: 110px;
        width: 100%;
        vertical-align: middle;
        line-height: 110px;
        background-color: rgba(0,0,0,0.5);

        @media (max-width: $mobile) {
            height: 80px;
            line-height: 80px;
        }
    }

    &__video-holder {
        position: relative;
        height: 500px;
        overflow: hidden;
        width: 100%;

        @media (max-width: $desktop) {
            height: 400px;
        }

        @media (max-width: $tablet) {
            height: 340px;
        }

    }

    &__video {
        position: absolute;
        display: inline-block;
        height: auto;
        width: 100%;
        bottom: 0;


        @media (max-width: $mobile) {
            display: none;
        }

        @media (max-width: $bigscreen) {
            width: auto;
            height: 100%;
        }

    }
}

.explainer-video-section {
    padding-top: $standard-spacing * 3;
    padding-bottom: $standard-spacing * 2;
    text-align: center;
    background-color: $color-subtle-gray-background;

    summary::-webkit-details-marker {
       display: none;
    }

    &__video {
        border: 0;

        @media (max-width: $mobile) {
            width: 100%;
        }
    }
}

.if-branding-section {
    &__centerer {
        max-width: 660px;
        margin: 0 auto;
        text-align: left;
    }

    &__logo {
        padding-top: 24px;
        padding-right: $standard-spacing;
        box-sizing: content-box;
    }
}
