@import 'constants.scss';


.front-search-block {
    padding-top: 80px;
    height: 500px;
    background-image: image-url('garage.jpg');
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    position: relative;
    z-index: 1;

    &__title {
        color: white;
        font-size: 48px;
        font-weight: bold;
        margin: $standard-spacing 0 $standard-spacing 0;
    }
    
    &__copy {
        color: white;
    }
    
    &__input {
    }

    &__input--date {
        width: 120px;
    }

    &__create-box {
        color: white;
        position: absolute;
        bottom: 0;
        height: 110px;
        width: 100%;
        vertical-align: middle;
        line-height: 110px;
        background-color: rgba(0,0,0,0.7);
    }

}