@import 'constants.scss';

.front-search-block {
    position: relative;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;

    &__splash {
        position: absolute;
        top: 0;
        width: 100%;
        text-align: center;
        padding-top: 40px;
        padding-left: $standard-spacing;
        padding-right: $standard-spacing;

        @media (max-width: $desktop) {
            padding-top: 28px;
        }

        @media (max-width: $mobile) {
            padding-top: 0;
        }

        @media (min-width: $bigscreen) {
            padding-top: 80px;
        }
    }

    &__title {
        color: white;
        font-size: 70px;
        font-weight: bold;
        margin: $standard-spacing 0 $standard-spacing 0;
        text-shadow: 2px 2px 3px #333;

        @media (max-width: $desktop) {
            font-size: 33px;
        }
    }

    &__copy {
        color: white;
        font-size: 120%;
        text-shadow: 1px 2px 2px #333;
    }

    &__input-holder {
        margin-top: $standard-spacing * 4;
    }

    &__input {
        /* WORKAROUND: Aligns in Webkit/Blink.
                       Pick your poisons / frameworks. */
        position: relative;
        top: 1px;
    }

    &__input--date {
        width: 120px;
    }

    &__create-box {
        text-align: center;
        color: white;
        position: absolute;
        bottom: 0;
        height: 110px;
        width: 100%;
        vertical-align: middle;
        line-height: 110px;
        background-color: rgba(0,0,0,0.5);

        @media (max-width: $mobile) {
            height: 80px;
            line-height: 80px;
        }
    }

    &__video-holder {
        position: relative;
        height: 500px;
        overflow: hidden;
        width: 100%;

        @media (max-width: $desktop) {
            height: 400px;
        }

        @media (max-width: $tablet) {
            height: 340px;
        }

        @media (max-width: 360px) {
            height: 400px;
        }

    }

    &__video {
        position: absolute;
        display: inline-block;
        height: auto;
        width: 100%;
        bottom: 0;

        @media (max-width: $mobile) {
            display: none;
        }

        @media (max-width: $bigscreen) {
            width: auto;
            height: 100%;
        }

    }
}

.explainer-video-section {
    padding-top: $standard-spacing * 3;
    padding-bottom: $standard-spacing * 2;
    text-align: center;
    background-color: $color-subtle-gray-background;

    summary::-webkit-details-marker {
       display: none;
    }

    &__video {
        border: 0;

        @media (max-width: $mobile) {
            width: 100%;
        }
    }
}

.if-branding-section {
    &__centerer {
        max-width: 530px;
        margin: 0 auto;
        text-align: center;
    }
}

.pricing-section {
    &__centerer {
        max-width: 530px;
        margin: 0 auto;
        text-align: center;
    }
}

.latest-ads {
    text-align: center;

    &__holder {
        padding: 4px;
        width: 30%;
        display: inline-block;

        @media (max-width: $desktop) {
            width: 46%;
        }

        @media (max-width: 670px) {
            width: 100%;
        }
    }
}

.front-popular-box {
    text-align: center;
    margin-top: $standard-spacing;
    margin-bottom: $standard-spacing * 4;

    &__row1,
    &__row2 {
        display: flex;
        height: 240px;
    }

    &__row2 {
        height: 300px;
    }

    &__col1 {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
    }

    &__link {
        flex: 1 1 auto;
        text-decoration: none;
        display: flex;
        user-select: none;
        color: white;
        font-size: 2rem;
        text-shadow: 0 1px 10px rgba(black, 0.7),
                     0 1px 2px rgba(black, 0.5);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        margin: 11px 11px 10px 10px;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-content: stretch;
        align-items: center;
        position: relative;

        @media (max-width: $tablet) {
            margin: 2px;
        }

        /* Fancy shadow effect thingy */
        &:before,
        &:after {
          z-index: -1;
          position: absolute;
          content: "";
          bottom: 15px;
          left: 10px;
          width: 50%;
          top: 80%;
          max-width:300px;
          background: #777;
          box-shadow: 0 15px 10px #777;
          transform: rotate(-3deg);
        }

        &:after {
          transform: rotate(3deg);
          right: 10px;
          left: auto;
        }

        &__title:before {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-color: rgba(black, 0);
          transition: 0.4s;
        }
        &:hover &__title:before, &:focus &__title:before {
          transition: 0s;
          background-color: rgba(black, 0.1);
        }
        &:active &__title:before {
          transition: 0s;
          background-color: rgba(black, 0.25);
        }
    }
}

.front-hero {
    background-color: white;
    background-image: url(image-path("bike_low-min.jpg"));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;

    &__title {
        font-size: 4em;
        text-align: center;
        padding-top: 60px;
        padding-bottom: 60px;
        color: white;

        @media (max-width: $mobile) {
            font-size: 2em;
        }
    }

    &__buttons {
        text-align: center;
        background-color: rgba(black, 0.60);
        padding-bottom: $standard-spacing;
    }

    &__button {
        min-width: 200px;
        margin-left: 6px;
        margin-right: 6px;
    }
}
    
.front-hero2 {
    &__title {
        font-size: 3em;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 30px;
        color: #424242;
        font-weight: 600;

        @media (max-width: $mobile) {
            font-size: 2em;
        }
    }
}

.front-action-buttons {
    text-align: center;
    padding-bottom: 12px;

    &__button {
        min-width: 204px;
        margin-left: 6px;
        margin-right: 6px;
    }
}

.front-topic-box {
    text-align: center;
    margin-top: $standard-spacing;

    &__row1,
    &__row2 {
        display: flex;
        height: 240px;

        @media (max-width: $mobile) {
            flex-direction: column;
            height: auto;
        }
    }

    &__row2 {
        height: 400px;
        margin-bottom: $standard-spacing;
        @media (max-width: $mobile) {
            flex-direction: column;
            height: auto;
        }
    }

    &__col1 {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;

        @media (max-width: $mobile) {
            height: auto;
        }
    }

    &__button {
        margin-top: $standard-spacing;
        margin-bottom: $standard-spacing * 3;
    }

    &__link {
        flex: 1 1;
        text-decoration: none;
        display: flex;
        user-select: none;
        color: white;
        font-size: 2rem;
        text-shadow: 0 1px 10px rgba(black, 0.7),
                     0 1px 2px rgba(black, 0.5);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        margin: 11px 11px 10px 10px;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-content: stretch;
        align-items: center;
        position: relative;

        @media (max-width: $tablet) {
            margin: 6px;
        }

        @media (max-width: $mobile) {
            height: 126px;
        }

        /* Fancy shadow effect thingy */
        &:before,
        &:after {
          z-index: -1;
          position: absolute;
          content: "";
          bottom: 15px;
          left: 10px;
          width: 50%;
          top: 80%;
          max-width:300px;
          background: #777;
          box-shadow: 0 15px 10px #777;
          transform: rotate(-3deg);
        }

        &:after {
          transform: rotate(3deg);
          right: 10px;
          left: auto;
        }

        &__title:before {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-color: rgba(black, 0);
          transition: 0.4s;
        }
        &:hover &__title:before, &:focus &__title:before {
          transition: 0s;
          background-color: rgba(black, 0.1);
        }
        &:active &__title:before {
          transition: 0s;
          background-color: rgba(black, 0.25);
        }
    }
}

.front-categories-box {
    text-align: center;
    margin-top: $standard-spacing;

    &__row {
        display: flex;
        height: 340px;

        @media (max-width: $mobile) {
            flex-direction: column;
            height: auto;
        }
    }

    &__col {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;

        @media (max-width: $mobile) {
            height: auto;
        }
    }

    &__button {
        margin-top: $standard-spacing;
        margin-bottom: $standard-spacing * 3;
    }

    &__link {
        flex: 1 1;
        text-decoration: none;
        display: flex;
        user-select: none;
        color: white;
        font-size: 2rem;
        text-shadow: 0 1px 10px rgba(black, 0.7),
                     0 1px 2px rgba(black, 0.5);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        margin: 11px 11px 10px 10px;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-content: stretch;
        align-items: center;
        position: relative;

        @media (max-width: $tablet) {
            margin: 6px;
        }

        @media (max-width: $mobile) {
            height: 126px;
        }

        /* Fancy shadow effect thingy */
        &:before,
        &:after {
          z-index: -1;
          position: absolute;
          content: "";
          bottom: 15px;
          left: 10px;
          width: 50%;
          top: 80%;
          max-width:300px;
          background: #777;
          box-shadow: 0 15px 10px #777;
          transform: rotate(-3deg);
        }

        &:after {
          transform: rotate(3deg);
          right: 10px;
          left: auto;
        }

        &__title:before {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-color: rgba(black, 0);
          transition: 0.4s;
        }
        &:hover &__title:before, &:focus &__title:before {
          transition: 0s;
          background-color: rgba(black, 0.1);
        }
        &:active &__title:before {
          transition: 0s;
          background-color: rgba(black, 0.25);
        }
    }
}

.front-wishlist-box {
    background-color: white;
    padding-top: $standard-spacing * 2;
    padding-bottom: $standard-spacing * 2;
    text-align: center;

    &__copy {
        max-width: 600px;
        margin: auto;
        padding-top: $standard-spacing;
        padding-bottom: $standard-spacing;
        color: $color-gray-text;
    }
}
