@import 'constants.scss';

* {
    box-sizing: border-box;
}


body {
    background-color: $color-background;
}


.two-col-wide-layout {
    max-width: 1024px;
    padding-top: $standard-spacing;
    padding-bottom: $standard-spacing;
    margin: 0 auto;
    overflow: hidden;

    $lw: 68%;

    &__left {
        float: left;
        width: $lw;
        min-height: 1px;
        margin-right: 1%;
    }

    &__right {
        width: 99% - $lw;
        float: left;
        min-height: 1px;
        padding-left: $standard-spacing;
    }

}

