@import "constants";

$redish: rgb(255, 243, 236);
$greenish: rgb(193, 236, 193);
$blueish: rgb(213, 235, 255);

.provider-box {
    height: 90px;
    padding-top: $standard-spacing;

    &:last-of-type {
        border-bottom: 0;
    }

    &__logo-box {
        display: inline-block;
        width: 150px;
        height: 70px;
        line-height: 70px;
        text-align: center;
    }

    &__logo {
        vertical-align: middle;
    }

    &__status {
        vertical-align: middle;
    }
}

.bubble-box {
    margin-bottom: $standard-spacing * 2;

    &__title {
        margin-bottom: $standard-spacing / 2;
    }

    &__handle {
        position: relative;
        display: inline-block;
        border-style: solid;
        border-width: 0 15px 18px 15px;
        width: 0;
        border-color: transparent transparent $greenish transparent;
        bottom: -6px;
        left: 24px;

        &--green {
            // same as default
        }

        &--blue {
            border-bottom-color: $blueish;
        }

        &--red {
            border-bottom-color: $redish;
        }
    }

    &__body {
        padding: $standard-spacing;
        background-color: rgb(193, 236, 193);
        border-radius: 12px;
    }

    &__body--green {
        // same as default
    }

    &__body--blue {
        background-color: rgb(213, 235, 255);
    }

    &__body--red {
        background-color: rgb(255, 243, 236);
    }

}

.actionable-item {
    text-decoration: none;
    display: flex;

    &__avatar {
        width: 72px;
        flex-shrink: 0;
        flex-grow: 0;
    }

    &__main {

    }

    &__title {
        margin: 0;
        font-size: 18px;
        color: black;
    }

    &__body {
        color: black;
    }

}

.card-input {
    &__card-holder {
        padding-top: $standard-spacing * 2;
        padding-bottom: $standard-spacing * 3;
    }
}


.social-button {

    $height: 54px;

    background-color: gold;
    border-radius: 6px;
    border: solid thin rgba(0,0,0,0.2);
    display: inline-block;
    width: 360px;
    height: $height;
    line-height: $height;
    color: white;
    font-size: 18px;
    display: inline-block;
    padding: 0 0 3px 3px;

    &--fb {
        background-color: #3b5998;
    }

    &--spid {
        background-color: rgb(0, 80, 145);
    }

    &--google {
        background-color: rgb(218, 79, 70);
    }

    &__logo-image {
        margin-left: 2px;
        margin-right: 3px;

    }

    &__text {
        padding-left: 12px;
        height: $height - 2;
        margin-bottom: 2px;
        border-left: solid thin rgba(0,0,0,0.2);
        display: inline-block;
        vertical-align: text-bottom;
    }
}

.public-profile-ad {
    padding: $standard-spacing * 2;
    background-color: white;
    border-top: 1px solid $color-gray-background;
    border-left: 1px solid $color-gray-background;
    border-right: 1px solid $color-gray-background;
    box-shadow: $subtle-shadow;
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;

    &:last-of-type {
        border-bottom: 1px solid $color-gray-background;
    }

    &__img-box {
        flex-grow: 0;
        flex-shrink: 0;
        margin-right: $standard-spacing * 2;
    }

    &__description, &__text-box {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.public-profile-feedback {
    padding: $standard-spacing * 2;
    background-color: white;
    border-top: 1px solid $color-gray-background;
    border-left: 1px solid $color-gray-background;
    border-right: 1px solid $color-gray-background;
    box-shadow: $subtle-shadow;
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;

    &:last-of-type {
        border-bottom: 1px solid $color-gray-background;
    }

    &__avatar-box {
        flex-grow: 0;
        flex-shrink: 0;
        margin-right: $standard-spacing * 2;
        text-align: center;
    }

    &__description, &__text-box {
    }
}
