@import "constants";

.actionable-item {
    text-decoration: none;
    display: flex;

    &__avatar {
        width: 72px;
        flex-shrink: 0;
        flex-grow: 0;
    }

    &__main {

    }

    &__title {
        margin: 0;
        font-size: 18px;
        color: black;
    }

    &__body {
        color: black;
    }

}

.card-input {
    &__card-holder {
        padding-top: $standard-spacing * 2;
        padding-bottom: $standard-spacing * 3;
    }
}

.social-button {
    $height: 54px;

    border-radius: 6px;
    border: solid thin rgba(0,0,0,0.2);
    display: inline-block;
    width: 300px;
    height: $height;
    line-height: 35px;
    color: white;
    font-size: 18px;
    display: inline-block;
    padding: 0 0 3px 3px;

    &--fb {
        background-color: #3b5998;
    }

    &--spid {
        background-color: rgb(0, 80, 145);
    }

    &--google {
        background-color: rgb(218, 79, 70);
    }

    &__icon-holder {
        display: inline-block;
        height: $height;
        line-height: $height;
        width: 52px;
        text-align: center;
        border-right: solid thin rgba(0,0,0,0.2);
        margin-top: -1px;
        margin-right: 2px;
        padding-right: 2px;
    }

    &__logo-icon {
        vertical-align: middle;
    }

    &__logo-image {
        vertical-align: middle;
        margin-left: 2px;
        margin-right: 3px;
    }
}

.public-profile-ad {
    padding: $standard-spacing * 2;
    background-color: white;
    border-top: 1px solid $color-gray-background;
    border-left: 1px solid $color-gray-background;
    border-right: 1px solid $color-gray-background;
    box-shadow: $subtle-shadow;
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;

    &:last-of-type {
        border-bottom: 1px solid $color-gray-background;
    }

    &__img-box {
        flex-grow: 0;
        flex-shrink: 0;
        margin-right: $standard-spacing * 2;
    }

    &__description, &__text-box {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.public-profile-feedback {
    padding: $standard-spacing * 2;
    background-color: white;
    border-top: 1px solid $color-gray-background;
    border-left: 1px solid $color-gray-background;
    border-right: 1px solid $color-gray-background;
    box-shadow: $subtle-shadow;
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;

    &:last-of-type {
        border-bottom: 1px solid $color-gray-background;
    }

    &__avatar-box {
        flex-grow: 0;
        flex-shrink: 0;
        margin-right: $standard-spacing * 2;
        text-align: center;
    }

    &__description, &__text-box {
    }
}

.my-ads {
    color: black;
    text-decoration: none;
}

.biz-card {
    background-color: white;
    padding: $standard-spacing;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    &__avatar {
        width: 120px;
        flex-shrink: 0;
    }

    &__details {
        padding-left: $standard-spacing;
        flex-grow: 1;
   }
}

.user-verifications {

    &__list {
        list-style: none;
    }

    &__action-link {
        display: inline-block;
        width: 130px;
    }

    &__help-link {
        font-size: small;
        text-decoration: underline;
    }
}

.user-identities {
    background-color: white;
    padding: $standard-spacing;
}

.help-box {
    margin-top: $standard-spacing * 2;
    padding: $standard-spacing;
    background-color: #ecf8ff;
    border: solid thin #b9e5ff;
    font-style: italic;
}

.verification-state-label {
    margin-left: $standard-spacing / 2;
    font-size: 90%;
    font-weight: normal;

    &--required {
        color: red;
    }

    &--verified {
        color: green;
    }

    &--missing {
        color: gray;
    }
}

.verification-item {
    &__status {
        margin: 0;
    }

    &__link {
        margin-left: $standard-spacing / 2;
    }

    &__rejection {
        margin: $standard-spacing / 4;
        margin-left: $standard-spacing / 2;

    }
}

.rental-history-item {
    color: black;
    text-decoration: none;
}

.docs-box {
    @extend .standard-box;

    display: flex;

    &__left {
        flex: 1 1 auto;
        width: 100%;
    }

    &__right {
        flex: 0 0 auto;
        width: 144px;
        align-self: center;
    }

    @media (max-width: $flex-collapse) {
        flex-direction: column;

        &__left {
            padding-bottom: $standard-spacing;
        }

        &__right {
            align-self: flex-end;
        }
    }
}
