<% if broadcast_html = REDIS.get('global_broadcast_html')  %>
    <div class="flash-bar">
        <div class="container">
            <% if broadcast_html %>
                <%= html_safe broadcast_html %>
            <% end %>
        </div>
    </div>
<% end %>