<% if broadcast_html = REDIS.get('global_broadcast_html')  %>
    <div class="flash-bar flash-bar--broadcast">
        <div class="container">
            <% if broadcast_html %>
                <%= broadcast_html.html_safe %>
            <% end %>
        </div>
    </div>
<% end %>