<section class="bubble-box bubble-box u-push-down-lots">
    <h2 class="bubble-box__title"><%= title %></h2>
    <span class="bubble-box__handle"></span>
    <div class="<%= "bubble-box__body" %>">
        <%= yield %>
    </div>
</section>