<% 
    overlaid = !(defined? overlaid).nil? && overlaid
%>
<% if notice or alert %>
    <div class="flash-bar <%=  overlaid ? "flash-bar--overlaid" : "" %>">
        <div class="container">
            <% if notice %>
                <%= notice %>
            <% end %>

            <% if alert %>
                <%= alert %>
            <% end %>
        </div>
    </div>
<% end %>