<div class="gray-box u-push-down" <%= defined?(id).nil? ? '' : "id=#{id}" %> >
    <% if defined? title %>
        <h5 class="gray-box__title"><%= title %></h5>
    <% end %>
    <div class="gray-box__body">
        <%= yield %>
    </div>
</div>