<footer class="about-footer">
    <div class="container">
        <div class="row">
            <div class="four columns">
                <h6 class="about-footer__title">Generelt</h6>
                <ul class="about-footer__list">
                    <li class="about-footer__list-item">link 1</li>
                    <li class="about-footer__list-item">link 1</li>
                    <li class="about-footer__list-item">link 1</li>
                    <li class="about-footer__list-item">link 1</li>
                </ul>
            </div>
            <div class="four columns">
                <h6 class="about-footer__title">Kundeservice</h6>
                <ul class="about-footer__list">
                    <li class="about-footer__list-item"><%= link_to 'Ofte stilte spørsmål', faq_path, class: "about-footer__list-link" %></li>
                    <li class="about-footer__list-item"><%= link_to 'Kontaktinformasjon', contact_path, class: "about-footer__list-link" %></li>
                    <li class="about-footer__list-item"><%= link_to 'Om oss', about_us_path, class: "about-footer__list-link" %></li>
                </ul>
            </div>
            <div class="four columns">
                <h6 class="about-footer__title">Besøk oss på facebook</h6>
                <ul class="about-footer__list">
                    <li class="about-footer__list-item"><%= render partial: 'misc/facebook' %></li>
                </ul>
            </div>
        </div>
    </div>
</footer>