<footer class="about-footer">
    <div class="container">
        <div class="row">
            <div class="four columns">
                <h6>Generelt</h6>
                <ul class="about-footer__list">
                    <li>link 1</li>
                    <li>link 1</li>
                    <li>link 1</li>
                    <li>link 1</li>
                </ul>

            </div>
            <div class="four columns">
                <h6>Kundeservice</h6>
                <ul class="about-footer__list">
                    <li>Ofte stilte spørsmål</li>
                    <li>Kontaktinformasjon</li>
                    <li>Om oss</li>
                </ul>
            </div>
            <div class="four columns">
                <h6>Besøk oss på facebook</h6>
                <ul class="about-footer__list">
                    <li><%= image_tag "facebook/FB-LikeButton-online-72.png", alt: "", size: "72x30" %></li>
                </ul>
            </div>
        </div>
    </div>
</footer>