<div class="top-bar">

    <a class="top-bar__logo-link" href="/">
        <%= image_tag "plendit_logo.svg", alt: "Plendit homepage", class: "top-bar__logo", size: "115x33" %>
    </a>

    <span class="top-bar__search-holder">
        <%= image_tag "search_icon_small.png", alt: "", class: "top-bar__search-icon", size: "18x18" %>
        <form class="top-bar__form" action="./result.html">
            <input class="top-bar__search-input" name="q" placeholder="Hva vil du leie?">
        </form>
    </span>

    <% if show_search_field %>
        Conditional search field
    <% else %>
        No search field
    <% end %>

    Pass in user, render logged in or anon block

    <span class="top-bar__rightbox">
        right content
    </span>

</div>
