<div class="container">
    <div class="eight columns">
        <div class="u-push-down">
            <p>Skademeldingen er registrert, og dere blir kontaktet snart.</p>

            <!-- TRANSLATEME: <%= @accident_report.accident_report_attachments.size %> filer ble lastet opp. -->

            <p><%= link_to "Tilbake til bookingen", @booking %></p>
        </div>
    </div>
</div>
