<p id="notice"><%= notice %></p>

<div class="container">
    <div class="eight columns">
        <%= render layout: 'gray_box', locals: {title: 'Skademeldingskjema', id: 'accident-report'} do %>
            <%= render partial: 'form' %>
        <% end %>
    </div>
</div>