<%= render partial: "shared/personal_bar", locals: {selected: "Profil"} %>

<div class="container">
    <div class="row">
        <div class="eight columns">
            <h1 class="u-push-down">Ny adresse</h1>
            <%= render 'form' %>
        </div>
    </div>
</div>