<% content_for :content do %>
    <div class="container u-push-down">
        <div class="row">
            <div class="eight columns">
                <%= yield %>
            </div>
        </div>
    </div>
<% end %>
<%= render template: "layouts/application" %>