<h2>
  Hei, <%= @resource.public_name %>
</h2>

<p>
  Velkommen som bruker på <%= link_to 'Plendit.no', root_url %>.
</p>

<p>
  For å kunne ta i bruk tjenesten, trenger vi at du <%= link_to 'verifiserer e-postadressen din', confirmation_url(@resource, confirmation_token: @token)%>.
</p>