<div class="container u-push-down">
    <div class="row">
        <div class="twelve columns">
            <h2>Tilbakestill passord</h2>
            <p>
                Hei <%= @resource.email %>!
            </p>

            <p>
                Noen har bedt om en lenke for å endre plendit-passord. Du kan følge denne lenken for
                å gjøre det:
                <%= link_to 'Endre passord', edit_password_url(@resource, reset_password_token: @token) %>
            </p>

            <p>
                Hvis du ikke har bedt om å endre passord kan du ignorere denne e-posten
            </p>
        </div>
    </div>
</div>





