<p>Hello <%= @resource.email %>!</p>

<p>Din konto er sperret på grunn av for mange ugyldige innloggingsforsøk.</p>

<p>Klikk på lenken under for å åpne kontoen din igjen:</p>

<p><%= link_to 'Åpne konto', unlock_url(@resource, unlock_token: @token) %></p>
